<% content_for :page_title, "Patch Notes - 2.13.2019" %>

<div class="heading">
  <h2 class="heading__title">Patch Notes</h2>
</div>

<h3 class="title-small">2.13.2019 - PATCH NOTES 01</h3>

<div class="no-text-transform">
  <h3>VALENTINES DAYS</h3>
  <ul>
  <li>Added <strong>“Live Die Live” Banner Badge</strong>: Revive a member of your squad between 2/13 and 2/19 to earn this limited time badge.</li>
  <li>Added <strong>Valentines Day</strong> cosmetic items to the store. They will be live and available in the store starting 2/13 until 2/19 and then they’re gone!</li>
  <li><strong>“Through the Heart”</strong> Longbow Epic DMR skin</li>
  <li><strong>“Love of the Game”</strong> Pathfinder banner frame</li>
  </ul>
  <h4>STABILITY / BUGS / PERFORMANCE / QoL</h4>
  <ul>
  <li>Various improvements and tweaks to UI.</li>
  <li>Extended timeout that was causing players with slower hard drives to crash.</li>
  <li>Addressed a number of client and server stability issues.</li>
  <li>Fixed exploit where you could keep duplicating items in your inventory.</li>
  <li>Addressed a number of stability and performance issues.</li>
  <li>Fixed issue where players would get a gray screen in lobby when connecting for the first time.</li>
  <li>Fixed issue where your friends list showed all your friends as offline and unable to party.</li>
  <li>Shortened duration of Bloodhound’s Eye of the Allfather clones to remain in the world by 1 second.</li>
  <li>Fixed a bug where player Kill Crates would stay in the air if killed on a Supply Ship.</li>
  </ul>
  <h4>GEAR</h4>
  <ul>
  <li>Arc Star now displays a grenade warning indicator.</li>
  </ul>
  <h4>KINGS CANYON</h4>
  <ul>
  <li>Addressed a number bugs with map geo like holes you could fall through and areas that players could get stuck in plus a bunch of other polish issues.</li>
  </ul>
  <h4>PLAYSTATION PLUS PLAY PACK</h4>
  <ul>
  <li>Art updated for the Playstation Plus Play Pack to the Flatline skin and Banner Card and changed the names to Deep Blue. This will affect all players that already have been rewarded the skins as well.</li>
  </ul>
</div>
