<% content_for :page_title, "Patch Notes - 2.19.2019" %>

<div class="heading">
  <h2 class="heading__title">Patch Notes</h2>
</div>

<h3 class="title-small">2.19.2019 - PATCH NOTES 02</h3>

<div class="no-text-transform">
  <ul>
  <li>Fixes for PS4 crash issues.
  <ul>
  <li>Addresses issues we saw with GPU hangs.</li>
  <li>Fixed crash when pressing button early in load process.</li>
  </ul>
  </li>
  <li>Fixed issue where players would sometimes move slowly after revive.</li>
  <li>Fixed issue with Mirage Ability causing crashes.</li>
  <li>Fixed issue with Gibraltar Epic skins on Xbox One causing crashes</li>
  </ul>
</div>
