<% content_for :page_title, "Patch Notes - 3.6.2019 of Apex Legends" %>

<div class=" wrapper wrapper--small">
  <div class="heading">
    <h3 class="heading__title">Patch Notes</h3>
  </div>

  <h3 class="title-small">3.19.2019 - Season 1: Wild Frontier</h3>

  <div class="no-text-transform">
    <h3>New Legend: OCTANE</h3>
    <p><em>High-Speed Daredevil</em></p>

    <blockquote>
       <p>If it doesn’t involve diving, leaping, plummeting, or racing, then Octane wants nothing to do with it. Always the life of the party, Octane truly believes winning the Championship isn’t enough… not if you didn’t cheat death at least twice to get there.</p>
    </blockquote>

    <div class="items">
      <article class="item item--full-width">
        <div class="item__content item__content--same-height legend">
          <div class="legend__intro" style="padding: 0;">
            <div class="legend__lore">
              <div class="item__title heading heading--small">
                <h3 class="heading__title">The Adrenaline Junkie</h3>
                <div class="heading__line"></div>
              </div>
              <div class="item__full-width-info">
                <p>
                  One day, Octavio Silva was bored. In fact, he was bored most days. Heir to the preoccupied CEOs of Silva Pharmaceuticals and wanting for nothing in life, he entertained himself by performing death-defying stunts and posting holovids of them for his fans to gawk over. So, this day, he decided to set the course record for a nearby Gauntlet by launching himself across the finish line – using a grenade.
                </p>
                <p>
                  As he lay in triage hours later, the doctors informed him that the damage done to his legs meant his daredevil days were over. That didn’t sit well with Octavio, who turned to an old friend for help: Ajay Che, who he guilted into forging an order to replace his legs with bionic ones. Suddenly able to repair his limbs at a moment’s notice, Octavio decided petty online stunts weren’t enough: the ultimate adrenaline rush, the Apex Games, was calling. Now, he’s going to become an Apex Champion doing the most incredible, death-defying moves anyone’s ever seen. Maybe in the arena, he won’t be so bored.
                </p>
              </div>
            </div>
            <div class="columns columns__about">
              <div class="columns__column">
                <div class="item__full-width-info item__full-width-info--large">
                  <span class="color-basic">Real name</span>
                  <small class="no-text-transform">Octavio Silva</small>
                </div>
                <div class="item__full-width-info item__full-width-info--large">
                  <span class="color-basic">Age</span>
                  <small class="no-text-transform">24</small>
                </div>
                <div class="item__full-width-info item__full-width-info--large">
                  <span class="color-basic">Home world</span>
                  <small class="no-text-transform">Psamathe</small>
                </div>
              </div>
              <div class="columns__column">
                <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
                  <%= image_tag "legends/octane/ability_1.png" %>
                  <div>
                    <span class="color-basic">Stim</span>
                    <small class="no-text-transform">Move 30% faster for six seconds. Costs health to use.</small>
                  </div>
                </div>
                <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
                  <%= image_tag "legends/octane/ability_2.png" %>
                  <div>
                    <span class="color-basic">Swift Mend</span>
                    <small class="no-text-transform">Automatically restores health over time.</small>
                  </div>
                </div>
                <div class="item__full-width-info item__full-width-info--large item__full-width-info--image">
                  <%= image_tag "legends/octane/ability_3.png" %>
                  <div>
                    <span class="color-basic">Launch Pad</span>
                    <small class="no-text-transform">Deploy a jump pad that catapults teammates through the air.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <center><%= link_to "More data on Octane", legend_show_path("octane"), class: "button button--primary" %></center>

    <br><br>

    <h3>Battle Pass</h3>
    <ul>
       <li>Added Battle Pass tab to Lobby.</li>
       <li>Cost: <strong>950</strong> Apex Coins</li>
       <li>
          Earn over <strong>100 unique items</strong> throughout the season – everything you snag before the season is over is yours to keep.
          <ul>
             <li>Updated dashboard images for Season 1 on PC and Xbox [PS4 is on the way!]</li>
             <li>Updated Main Menu with new Season 1 art.</li>
             <li>Updated the Lobby visuals for Season 1.</li>
             <li>Updated Apex Legends site FAQ with info on Battle Pass.</li>
          </ul>
       </li>
    </ul>

    <h4>Battle Pass Bundle</h4>
    <ul>
       <li>Get the Battle Pass, plus unlock your next 25 levels for Season 1 instantly.</li>
       <li>Cost: <strong>2,800</strong> Apex Coins.</li>
    </ul>

    <h4>Free Rewards</h4>
    <p>Everyone that plays Apex Legends during Season 1 can earn the following rewards:</p>
    <ul>
       <li>1 Wild Frontier Legend Skin</li>
       <li>5 Apex Packs</li>
       <li>18 Wild Frontier themed Stat Trackers</li>
    </ul>

    <br><br>

    <h3>Stability &amp; Performance</h3>
    <blockquote>
       <p>We’ve got some fixes in this patch that will improve stability on PC but we know there are still issues out there we need to address. We also added crash reporting so we can better understand how to tackle the issues we haven’t solved yet and address future ones.</p>
    </blockquote>
    <strong>Improved stability for various GPU configurations.</strong>
    <ul>
       <li>Capped PC FPS to 300 to balance improving stability but still letting you folks enjoy those sweet frames.</li>
       <li>Addressed issue with PS4 crashes due to running out of memory.</li>
       <li>
          Introducing better reporting when Apex crashes on PC without error message.
          <ul>
             <li>
                We really want to fix any crashes people happen to get on PC. We also respect our player’s privacy. So, if the PC game crashes, it will write “apex_crash.txt” to your “Documents” folder. This tiny file is plain text, so you can easily see for yourself that it has no personal information. If you choose to share this file with us, it will tell us whether the crash was in Apex or in third party software. If the crash was in Apex, our programmers can use the information to find and fix it. If you experience a crash, please include this file when you report.
                <ul>
                   <li>We protect your personal information.</li>
                   <li>You can easily see everything in the file yourself; we have no secrets.</li>
                   <li>You’re in control of whether we ever see the file.</li>
                </ul>
             </li>
          </ul>
       </li>
       <li>
          Added Report a Player feature for cheating and abuse on PC.
          <ul>
             <li>Players can now report cheaters they encounter in-game and it’ll be sent directly to Easy Anti-Cheat. You can do this from either the spectate view after dying or when looking at your team’s Banner Cards in the Squad tab.</li>
             <li>We have lots of other work going on behind the scenes and this remains high priority for us. We won’t be able to share many specifics of what we’re doing but we’ll strive to provide updates on progress for the things we can talk about.</li>
             <li>As I’m finishing the notes this morning, 499,937 accounts and counting have been banned for cheating.</li>
             <li>Speed hacking: We do currently have anti-speed hacking in Apex Legends, but it’s not being as effective as intended due to a bug that we believe we’ve identified and will be addressing in our next server update. Will provide ETA for it when I have it. Working to get it out ASAP.</li>
          </ul>
       </li>
       <li>Added Report a Player for abuse on Consoles</li>
       <li>You can report players from the spectate view after dying or when looking at your team’s Banner Cards in the Squad tab.</li>
       <li>Optimized skydiving to improve overall server performance.</li>
       <li>Fixed bug where sometimes the client could crash when opening Apex Packs one right after the other.</li>
    </ul>

    <br><br>

    <h3>Quality of Life</h3>
    <ul>
       <li>
          Added “Swap LT/RT &amp; LB/RB” / “Swap L1/R1 &amp; L2/R2”) toggle in the Controller Button Layout settings.
          <ul>
             <li>Lets you quickly swap what your bumpers &amp; triggers are set to, with any controller preset.</li>
          </ul>
       </li>
       <li>
          Added “Sprint View Shake” setting under the Video tab.
          <ul>
             <li>Setting this to “Minimal” can be especially helpful for players susceptible to motion sickness.</li>
          </ul>
       </li>
       <li>
          Added “Trigger Deadzones” setting under the Controller tab.
          <ul>
             <li>Customize how far you want to pull the triggers before they register.</li>
          </ul>
       </li>
       <li>
          Added “Advanced Look Controls” settings submenu under the Controller tab.
          <ul>
             <li>Fine-tune specific aspects of the look controls for a custom feel; such as Deadzone, Response Curve, Target Compensation (aim assist), and more.</li>
          </ul>
       </li>
       <li>When you relinquish the Jumpmaster position to another player you will now hear your Legend’s VO line in addition to the new Jumpmaster. The third player won’t hear it though.</li>
       <li>Pathfinder grapple: updated icon</li>
       <li>Pathfinder grapple: added indicator near crosshair to show when player is in range of grapple-able geo</li>
       <li>Improved mantling from a grapple point.</li>
       <li>Pathfinder can now grapple ziplines.</li>
       <li>We’ve added D-pad navigation as a convenience in most of the menus. Our hope is this will speed up browsing and improve accessibility.</li>
       <li>
          UI improvements to the KO Shield
          <ul>
             <li>Shield bar drains to indicate the remaining health of the shield.</li>
             <li>When you have a Gold KO Shield and are down, we’ve added an effect to the label that reminds you that you can self revive.</li>
          </ul>
       </li>
       <li>We saw that the Ring indicator that appears when players are viewing the whole map wasn’t accurately showing the player’s position so we fixed that.</li>
       <li>Character animations while taking damage now accurately reflect the direction the damage is coming from.</li>
       <li>Fixed a bug where occluded sounds would sometimes sound unoccluded.</li>
       <li>Patched up some issues with missing geo on Kings Canyon and fixed a few spots where players were getting stuck.</li>
       <li>Fixed a script error that could happen when removing attachments on holstered weapons.</li>
       <li>General polish to game UI fixing some grammar issues, improved navigation, and composition of elements.</li>
       <li>Fixed PC users constantly switching weapons while scrolling through items in a Death Box.</li>
       <li>Fixed issue where we were seeing server stability issues sometimes caused by purchasing items while matchmaking.</li>
       <li>Fixed script errors that could occur during the skydive.</li>
       <li>Reduced skybox fog.</li>
       <li>Adjusted the code for Supply Bins so they are less likely to kill players. If you do still get killed by one please let us know!</li>
       <li>Made it so push-to-talk is no longer on when a chat box is active.</li>
       <li>LT/RT no longer switches between players in spectator mode while the map is open.</li>
       <li>Updated the minimap to more accurately reflect the geo and points of interest on the main map.</li>
       <li>Adding sound FX to the UI for the key binding menu.</li>
       <li>Fixed issue where a player’s name would not show up when they send a message that reached the character limit.</li>
       <li>Fixed bug where sometimes the Champion screen resolution would be stretched in widescreen resolutions.</li>
       <li>Fixed audio bug where sometimes the zipline sounds FX would keep playing after disembarking.</li>
       <li>Added accessibility option to modify the subtitle size.</li>
       <li>
          <strong>Improvements / fixes for color blind players:</strong>
          <ul>
             <li>Added better color blind support for Blood Hound’s Threat Vision.</li>
             <li>Colorblind colors per setting are now displayed in the settings menu.</li>
             <li>Colorblind settings moved from Video Settings to Gameplay-&gt;Accessibility. They are now applied on the fly.</li>
             <li>Enemy pings now use proper enemy color instead of only using red.</li>
          </ul>
       </li>
       <li>
          <strong>Audio:</strong>
          <ul>
             <li>Turned down volume when Wraith activates a portal.</li>
             <li>Turned down the end sounds on the Peacekeeper charged shot.</li>
             <li>Turned down the draw/holster sound slightly for thermite grenades.</li>
          </ul>
       </li>
    </ul>

    <br><br>

    <h3>Legend hitbox adjustments</h3>
    <ul>
       <li>Adjusted hitboxes for Gibraltar, Caustic, and Pathfinder to better align with their shapes.</li>
    </ul>
    <h3>Weapons</h3>
    <ul>
       <li>Fixed players being able to shortcut weapon swap by changing stance</li>
       <li>Fixed players being able to shortcut Peacekeeper rechamber sequence</li>
       <li>Fixed inaccurate auto ranging fullscreen (sniper) optics when base FOV is not set to default</li>
       <li>Spitfire: fixed ADS view on Legendaries partially obscured by custom geo. (The Continuum, The Heavy Construct)</li>
       <li>Fixed ADS view being blocked when using Caustic legendary skins with certain weapon/ optic combos</li>
       <li>Digital threat optics: threat highlights are now more visible (slightly brighter; no longer affected by TSAA)</li>
       <li>Fixed bug where Devotion audio sometimes wouldn’t accurately reflect rate of fire.</li>
    </ul>

    <br><br>

    <h3>Additional bug fixes</h3>
    <ul>
       <li>Fixed rare issue where a player could get stuck on the drop ship and be invulnerable.</li>
       <li>Patched up the hole we found in Gibraltar’s shield.</li>
       <li>Fixed issue where Lifeline’s revive shield wouldn’t stay put while on a moving platform.</li>
       <li>Fixed issue where sometimes players would get stuck in map geometry while skydiving from the dropship or Jump Towers.</li>
       <li>Fixed bug where players could still shoot even after being downed.</li>
       <li>Fixed bug where occasionally Lifeline’s D.O.C. drone would stay connected to a player but not heal them.</li>
       <li>Limited the amount of Lifeline’s D.O.C. drones that can connect to a player to 2.</li>
       <li>Fixed Pathfinder’s zipline not deploying when jumping.</li>
       <li>Fixed a bug with the HUD where sometimes the Heal Bar would stay up if the heal was cancelled right after it was started.</li>
       <li>Fixed a bug where sometimes the audio would continue to play sound FX for the Knockdown Shield even after it’s been destroyed.</li>
       <li>Fixed issue where sometimes players could get disconnected when unplugging their controller during a game.</li>
       <li>Fixed the exploit where you could do infinite wallclimb using Pathfinder’s Grapple.</li>
       <li>Fixed bug where sometimes you couldn’t fire the Peacekeeper after riding a zip line.</li>
       <li>Fixed issue where sometimes the skybox fog would not appear while spectating after you died.</li>
       <li>Fixed bug where Banner Cards would show through walls occasionally when viewed through a very high FOV.</li>
       <li>Fixed some odd light flickering that was happening on the ballon flags attached to Jump Towers.</li>
       <li>Fixed bug where sometimes a player’s Banner Card would not show up after character select.</li>
    </ul>

    <br><br>

    <h3>Razer Chroma Support</h3>
    <p>Apex Legends will now detect Razer Chroma peripherals and supported devices will now play animated colors that react to things you do in the game! Some examples:</p>
    <ul>
       <li>Red lights during banner transitions.</li>
       <li>While skydiving colors will tune to the color of your smoke trail.</li>
       <li>Picking up loot.</li>
       <li>Opening Apex Packs</li>
       <li>Firing and taking damage.</li>
       <li>Colors that flash when your Ultimate is ready.</li>
       <li><em>And more!</em></li>
    </ul>
  </div>
</div>
