<% content_for :page_title, "Patch Notes - 3.6.2019" %>

<div class="heading">
  <h2 class="heading__title">Patch Notes</h2>
</div>

<h3 class="title-small">3.6.2019</h3>

<div class="no-text-transform">
  <blockquote>
    Overall, we feel that the current weapons present solid options for a variety of gameplay styles. We've found that the <strong>Skullpiercer Wingman</strong> has been on the stronger end, but it’s designed to be a weapon with a higher skill ceiling. Our adjustments are attempting to move it more into the hand cannon space and away from full auto Deagle. We’ve also adjusted the rate of fire of the <strong>Peacekeeper with Shotgun Bolt</strong> attachment, so players will have a larger window of vulnerability if they miss their shot. Additionally, the scarcity of energy ammo and lower number of energy weapons overall has made those weapons difficult to main, so we’ve increased energy weapon and ammo availability.
  </blockquote>

  <h3>Wingman</h3>
  <ul>
    <li>Rate of fire reduced from <strong>3.1</strong> -&gt; <strong>2.6</strong> shots per second.</li>
    <li>Skullpiercer Headshot damage multiplier reduced from<strong> 2.5</strong> -&gt; <strong>2.25</strong></li>
    <li>Increased base hip fire spread and decreased the rate at which hip fire spread decays (shrinks back down).</li>
  </ul>

  <h3>Peacekeeper</h3>
  <ul>
    <li>Shotgun Bolt rechamber rate has been reduced for the Peacekeeper only.
      <ul>
        <li>Level 1 mitigation <strong>10%</strong> -&gt; <strong>7.5%</strong></li>
        <li>Level 2 mitigation <strong>20%</strong> -&gt; <strong>13%</strong></li>
        <li>Level 3 mitigation <strong>25%</strong> -&gt; <strong>16%</strong></li>
      </ul>
    </li>
  </ul>

  <h3>Weapon Spawn Rate</h3>
  <ul>
    <li>Wingman and Peacekeeper availability has been reduced in all zone tiers.</li>
    <li>Increased availability of energy weapons &amp; ammo in all zone tiers.</li>
  </ul>
</div>
