<% content_for :page_title, "Patch Notes - 4.3.2019 - Patch 1.1 of Apex Legends" %>

<div class=" wrapper wrapper--small">
  <div class="heading">
    <h2 class="heading__title">Patch Notes</h2>
  </div>

  <h3 class="title-small">4.3.2019 - 1.1 Patch Notes</h3>

  <div class="no-text-transform">
    <p>The 1.1 Patch is rolling out as of 10:00am PST today and you will need to update the client to download.</p>
    <blockquote>
    <p>KNOWN ISSUE: We are aware of the reports of accounts being reset after the update and looking into it now.</p>
    </blockquote>
    <h3><a id="Quality_of_Life_4"></a>Quality of Life</h3>
    <ul>
    <li>Added the ability to party up with the last squad you played with. After the match you will see buttons in the lobby that display the last two people you played with and can invite them to your squad.
    <ul>
    <li>You can choose to allow invites or opt out in the Friends menu.</li>
    </ul>
    </li>
    <li>Additional behind-the-scenes improvements for squashing cheaters.</li>
    <li>Added Mute button during the intro and Legend selection.</li>
    <li>When using the Report Player button for PC, you now have the option of selecting Cheat or Other.</li>
    <li>Made small improvements to the UI for customizing Legends.</li>
    <li>Added option to turn off lighting on compatible hardware [for example, Razer Chroma devices] in the Mouse/Keyboard settings.</li>
    <li>Added informative messages that appear on PC for crashes due to:
    <ul>
    <li>Running out of memory.</li>
    <li>CPU errors best explained by overclocking/overheating.</li>
    <li>Added better collision to the turrets on Supply Ships.</li>
    </ul>
    </li>
    <li>Stability fixes to all platforms.</li>
    </ul>
    <h3><a id="Bug_Fixes_19"></a>Bug Fixes</h3>
    <ul>
    <li>Fixed issue where the Battle Pass rewards page would not have a default item selected, resulting in a mostly blank page.</li>
    <li>Fixed bug for PS4 and X1 where sometimes attempting to use a keyboard to chat could cause a fatal script error.</li>
    <li>Fixed bug with Banner Cards not showing up during and at the end of a match.</li>
    </ul>
    <h4><a id="Jump_Pad_Phase_Walk_interaction_25"></a>Jump Pad Phase Walk interaction</h4>
    <ul>
    <li>Octane’s Jump Pad no longer affects players when using Into the Void ability.</li>
    </ul>
  </div>
</div>
