<% content_for :page_title, "Patch Notes - 6.11.2019 - Patch of Apex Legends" %>

<div class="wrapper wrapper--small no-text-transform">
  <div class="heading">
    <h2 class="heading__title">Patch Notes</h2>
  </div>

  <h3 class="title-small relative">
    6.11.2019 - Patch Notes
  </h3>

  <ul>
  <li>The following config commands are now enabled:

  <ul>
  <li>fps_max</li>
  <li>mat_letterbox_aspect_goal</li>
  <li>mat_letterbox_aspect_threshold </li>
  </ul></li>
  <li>Fixed issue with players not being rewarded with Loss Forgiveness after their teammate left during an Apex Elite match.

  <ul>
  <li>Also made improvements so that Loss Forgiveness works more consistently in other cases where it wasn’t working correctly.</li>
  </ul></li>
  <li>Fixed bug where Caustic’s Nox Gas Traps would damage players through walls.</li>
  <li>Fixed exploit where you could repeatedly place Caustic’s Nox Gas Traps with no cooldown.</li>
  <li><strong>[PS4 Only]</strong> Fixed bug with in-game reward message not displaying the right image for Playstation Plus subscribers [previously this was showing an orange and purple checker image instead of the right asset].</li>
  <li>Fixed issue with “nerfed” skydiving from a Jump Tower. </li>
  <li>Resolved a number of localization issues for Xbox and PS4. </li>
  <li>Fixed issues with items sorting incorrectly when looting a deathbox.</li>
  <li>Fixed issues related to heavily decreased accuracy when ADS and sliding.</li>
  <li>Fixed audio bug related to Octane’s Jump Pad.</li>
  <li>Fixed a number of game logic script errors.</li>
  </ul>
</div>
