<% @saved_values.group_by(&:legend).each do |legend, legend_data| %>
  <div class="profile-charts">
    <hr>
    <% legend_data.group_by(&:data_name).each do |data_name, data| %>
      <h5><%= data_name.humanize %></h5>

      <% dates = [] %>
      <% values = [] %>
      <% ProfileLegendData.where(
                                profile_uid: @response["global"]["uid"],
                                legend: legend,
                                data_name: data_name).group_by{ |t| t.created_at.strftime("%b %d, %Y") }.each do |date, data| %>
        <% dates.push(date) %>
        <% values.push(data.last.data_value) %>
      <% end %>

      <canvas width="400" height="200" data-role="profile-chart" data-labels="<%= dates %>" data-values="<%= values %>"></canvas>
    <% end %>
  </div>
<% end if @saved_values.any? %>
