<div class="item profile-legend <%= "profile-legend--current" if current %>">
  <div class="profile-legend__image">
    <%= image_tag "legends/#{ legend.downcase }/banner.jpg" %>
  </div>

  <div class="profile-legend__content">
    <% if current %>
      <span class="profile-legend__selected">Selected</span>
    <% end %>

    <h2 class="profile-legend__name"><%= legend %></h2>

    <div class="profile-legend__stats">
      <div class="profile-stats">
        <span class="profile-stats__name">Kills</span>
        <span class="profile-stats__amount"><span class="amount__total">850</span><span class="amount__global">#5</span></span>
        <div class="profile-stats__bar">
          <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="198">
            <div class="bar-graph__line" data-role="bar-graph-line" style="width: 80.8081%;"></div>
          </div>
        </div>
      </div>

      <div class="profile-stats">
        <span class="profile-stats__name">Kills</span>
        <span class="profile-stats__amount"><span class="amount__total">850</span><span class="amount__global">#5</span></span>
        <div class="profile-stats__bar">
          <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="198">
            <div class="bar-graph__line" data-role="bar-graph-line" style="width: 80.8081%;"></div>
          </div>
        </div>
      </div>

      <div class="profile-stats">
        <span class="profile-stats__name">Kills</span>
        <span class="profile-stats__amount"><span class="amount__total">850</span><span class="amount__global">#5</span></span>
        <div class="profile-stats__bar">
          <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="198">
            <div class="bar-graph__line" data-role="bar-graph-line" style="width: 80.8081%;"></div>
          </div>
        </div>
      </div>

      <div class="profile-stats">
        <span class="profile-stats__name">Kills</span>
        <span class="profile-stats__amount"><span class="amount__total">850</span><span class="amount__global">#5</span></span>
        <div class="profile-stats__bar">
          <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="198">
            <div class="bar-graph__line" data-role="bar-graph-line" style="width: 80.8081%;"></div>
          </div>
        </div>
      </div>

      <div class="profile-stats">
        <span class="profile-stats__name">Kills</span>
        <span class="profile-stats__amount"><span class="amount__total">850</span><span class="amount__global">#5</span></span>
        <div class="profile-stats__bar">
          <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="198">
            <div class="bar-graph__line" data-role="bar-graph-line" style="width: 80.8081%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
