<div class="profile-legend__no-data"><span>Swap to <strong><%= legend %></strong> and update the page</span></div>
<div class="profile-stats">
  <span class="profile-stats__name">?</span>
  <span class="profile-stats__amount"><span class="amount__total">?</span></span>
  <div class="profile-stats__bar">
    <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="198">
      <div class="bar-graph__line" data-role="bar-graph-line" style="width: 80.8081%;"></div>
    </div>
  </div>
</div>
