<div class="wrapper wrapper--small">
  <div class="heading mb-0">
    <h2 class="heading__title">Error retrieving profile</h2>
  </div>

  <p>There was an error retrieving your data. Please try again later.</p>
</div>
