<% content_for :page_title, "Player Profile Tracker" %>

<%= render "banners/search" %>

<div class="wrapper wrapper--tiny">
  <br><br>

  <p><small>Find your profile and check out your stats. Keep track of your progress over time, find out how much kills/wins you have in total, and much more!</small></p>
</div>

<% if Flipper.enabled?(:memberships) %>
  <% unless membership.present? %>
    <div class="top-offset"></div>

    <div class="wrapper wrapper--tiny">
      <div class="item item--full-width">
        <div class="heading heading--small">
          <h4 class="heading__title">Get a Membership</h4>
        </div>

        <div class="no-text-transform">
          <p>
            <big><em>Supports ApexData.gg and gain benefits on your profile, along with ad-free viewing across the entire website.</em></big>
          </p>
        </div>

        <h4 class="m-0"><small>Only</small> <strong>€1</strong><small> /month</small></h4>

        <br>

        <div>
          <%= link_to "Find out more", new_membership_path, class: "button" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
