<div class="wrapper wrapper--small">
  <div class="heading">
    <h2 class="heading__title">Player Tracker</h2>
  </div>

  <div class="item item--full-width">
    <%= render "tracker", extra_classes: "player-form--large" %>
  </div>
</div>
