<% content_for :page_title, "Player Profile Tracker" %>

<div class="wrapper wrapper--small">
  <div class="heading">
    <h2 class="heading__title">Player Tracker</h2>
  </div>

  <%= render "tracker", extra_classes: "player-form--large" %>
</div>
