<div class="wrapper wrapper--small">
  <div class="heading mb-0">
    <h2 class="heading__title">Profile not found</h2>
  </div>

  <p>The profile you searched for has not been found. Please double check the name and platform and try again.</p>

  <div class="top-offset"></div>

  <div class="item item--full-width">
    <%= render "tracker", extra_classes: "player-form--large" %>
  </div>
</div>
