<% content_for :page_title, params[:user] + " | Profile" %>

<div data-role="profile-content">
  <div class="loading-indicator">
    <h2>Loading profile...</h2>
    <div class="loading-indicator__spinner"></div>
  </div>
</div>

<script>
  fetchApiData("<%= get_api_response_path(params[:platform], params[:user]) %>")
</script>
