<div class="paypal-wrapper no-text-transform">
  <% key = Rails.env.development? ? "AUH1yge9_LD5S6MrsFXyVz1hFm196hhTZEXTbaCLvGXYvdXnSJ2bB9rMmmC57UBmZtnL7zE86OUqxIh4" : "AfMGYue-09g8kE3-Xyek_ue8iEp7liOcCxsg7p338c0OiH1MoC8ZYh57W8tOae4ruE0PLgrlzMa5smZb" %>
  <script src="https://www.paypal.com/sdk/js?client-id=<%= key %>&currency=EUR"></script>
  <script>
    const element = document.querySelector("[data-role='paypal-wrapper']")

    paypal.Buttons({
      style: {
        color:  "blue",
        shape:  "pill",
        label:  "pay",
        height: 40,
        tagline: false,
        layout: "horizontal"
      },
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: "1.00"
            }
          }]
        })
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
          element.innerHTML = `<h5 class="m-0">Your payment is being processed.</h5><br>Please hold on.`

          window.fetch("<%= memberships_path %>", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRF-Token": Rails.csrfToken()
            },
            body: JSON.stringify({
              order_id: data.orderID
            })
          }).then(() => {
            element.innerHTML = `<h5 class="m-0 alert alert--success">Your payment was successful!</h5><br> Thank you for your purchase. Your support means a lot.<br><br>Your membership has now started.`
          }).catch(() => {
            element.innerHTML = `<h5 class="m-0 alert alert--error">Something has gone wrong.</h5><br>Please contact us at info@apexdata.gg if you believe your membership has not properly started.`
          })
        })
      },
      onError: function (err) {
        element.innerHTML = `<h5 class="m-0 alert alert--error">Something has gone wrong.</h5><br>Your payment was not finished. Please refresh the page and try again.`
      }
    }).render(".paypal-wrapper")
  </script>
</div>
