<div class="event__manual-update">
  <%= form_for :event_signup, url: event_update_leaderboard_item_path, remote: true do |form| %>
    <%= form.hidden_field :event_id, value: @event.id %>

    <%= form.submit "Manually update your score", class: "button-alternative", data: { disable_with: "Updating..." } %>
  <% end %>

  <div data-role="event-signup-message">
    Your score is automatically kept up to date every few minutes.
    <div><small>This leaderboard is updated in real time. There is no need to refresh the page.</small></div>
  </div>
</div>
