.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 100%;
  padding: 25px;
  margin-top: $margin;
  text-decoration: none;
  background: image_url("layout/banner.jpg");
  background-size: cover;
  background-position: center;

  @include media-min(md) {
    flex-direction: row;
    align-items: center;
    height: $margin * 2.5;
    padding: $margin;
    margin-top: $margin * 2;
  }

  @include media-min(xxl) {
    margin-top: $margin * 3;
    padding: ($margin * 1.5) ($margin * 2);
  }

  &--search {
    justify-content: center;
    align-items: flex-start;
    height: $margin * 2.5;
    padding: ($margin * 1.5) 0;
    margin-bottom: 100px;

    @include media-min(md) {
      margin-bottom: 0;
    }

    @include media-min(xxl) {
      padding: ($margin * 1.5) ($margin * 2);
    }
  }

  h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;

    @include media-min(xxl) {
      font-size: 24px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 36px;
    margin: 0;

    @include media-min(md) {
      margin: 0 0 0 $margin / 2;
    }

    @include media-min(xxl) {
      font-size: 48px;
    }

    @include media-min(max-width) {
      margin: 0 0 0 $margin * 2;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    right: $margin / 2;
    width: 200px;
    display: none;

    @include media-min(md) {
      display: block;
    }

    @include media-min(xxl) {
      width: auto;
    }

    @include media-min(max-width) {
      right: $margin * 2;
    }
  }
}

.banner__search {
  width: 100%;
  padding: 0 20px;

  @include media-min(md) {
    max-width: 652px;
    padding: 0;
  }

  h2 {
    margin: 0;
    margin-top: 115px;
    margin-bottom: 28px;
    font-size: 26px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-right: 5px;

    @include media-min(md) {
      margin-top: -29px;
      font-size: 36px;
    }

    &::before {
      display: block;
      content: "";
      height: 2px;
      width: 100%;
      max-width: 826.6666666667px;
      background: rgba($white, 0.25);
      margin-left: 30px;
    }
  }
}
