.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 100%;
  padding: 25px;
  margin-top: $margin;
  text-decoration: none;
  background: image_url("layout/banner.jpg");
  background-size: cover;
  background-position: center;

  @include media-min(md) {
    height: $margin * 2.5;
    padding: $margin;
    margin-top: $margin * 2;
  }

  @include media-min(xxl) {
    margin-top: $margin * 3;
    padding: ($margin * 1.5) ($margin * 2);
  }

  h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;

    @include media-min(xxl) {
      font-size: 24px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 36px;
    margin: 0;

    @include media-min(md) {
      margin: 0 0 0 $margin / 2;
    }

    @include media-min(xxl) {
      font-size: 48px;
    }

    @include media-min(max-width) {
      margin: 0 0 0 $margin * 2;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    right: $margin / 2;
    width: 200px;
    display: none;

    @include media-min(md) {
      display: block;
    }

    @include media-min(xxl) {
      width: auto;
    }

    @include media-min(max-width) {
      right: $margin * 2;
    }
  }
}

.banner--search {
  justify-content: center;
  align-items: flex-start;
  height: $margin * 2.5;
  padding: ($margin * 1.5) 0;
  margin-bottom: $margin * 2.5;

  @include media-min(md) {
    margin-bottom: 0;
  }

  @include media-min(xxl) {
    padding: ($margin * 1.5) ($margin * 2);
  }
}

.banner--search__content {
  margin: 0 auto;
  width: 100%;
  padding: 0 $margin / 2;

  @include media-min(md) {
    max-width: map-get($media-min-widths, sm);
    padding: 0;
  }
}

.banner--search__title {
  margin: ($margin * 2) 0 ($margin / 4 * 3);

  &::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    max-width: 100%;
    background: rgba($white, 0.25);
  }

  h2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: $margin;
    padding-right: $margin / 2;
    font-size: 26px;
    font-weight: 300;

    @include media-min(md) {
      margin-top: -#{ $margin / 2 };
      font-size: 36px;
    }

    @include media-min(max-width) {
      margin-left: 0;
    }
  }
}

.banner--event {
  flex-direction: column;
  align-items: flex-start;
  height: 130px;
  padding: 37px 15px;

  @media screen and (min-width: 640px) {
    padding: 37px 30px;
  }

  @media screen and (min-width: 1100px) {
    flex-direction: row;
    align-items: center;
    height: 130px;
    padding: 60px 50px;
  }

  h2 {
    text-transform: uppercase;
    margin: 0;

    @media screen and (min-width: 1100px) {
      margin: 0 0 0 20px;
    }

    @media screen and (min-width: 1240px) {
      margin: 0 0 0 80px;
    }
  }
}

.banner--gunslinger {
  .banner__image {
    right: 0px;
    width: 360px;

    @media screen and (min-width: 1100px) {
      width: auto;
      right: -35px;
    }

    @media screen and (min-width: 1300px) {
      right: 10px;
    }
  }
}

.banner--season-2,
.banner--season-3 {
  background-image: image_url("layout/banner_2.jpg");
  flex-direction: column;
  align-items: flex-start;
  height: 130px;
  padding: 37px 15px;

  @media screen and (min-width: 640px) {
    padding: 37px 30px;
  }

  @media screen and (min-width: 1100px) {
    flex-direction: row;
    align-items: center;
    height: 130px;
    padding: 60px 30px;
  }

  @media screen and (min-width: 1240px) {
    padding: 60px 50px;
  }

  h2 {
    margin: 0;

    @media screen and (min-width: 1100px) {
      margin: 0 0 0 20px;
    }

    @media screen and (min-width: 1240px) {
      margin: 0 0 0 80px;
    }
  }

  .banner__image {
    right: 5px;
    width: 360px;

    @media screen and (min-width: 1100px) {
      width: auto;
      right: 10px;
    }

    @media screen and (min-width: 1300px) {
      right: 10px;
    }
  }
}

.banner--season-3 {
  background-image: image_url("layout/banner_3.jpg");
  margin-bottom: $margin * 2;
  justify-content: center;

  @media screen and (min-width: 1100px) {
    justify-content: flex-start;
  }

  h2 {
    color: $black;
  }
}
