.bar-graph {
  display: grid;
  grid-template: "label label"
                  "bar value";
  grid-template-columns: 3fr 1fr;
  align-items: center;
  width: 100%;
  font-size: 14px;
  margin-bottom: $margin / 8;

  @include media-min(sm) {
    grid-template: "label bar value";
    grid-template-columns: 9fr 9fr 4fr;
  }

  @supports (-ms-ime-align: auto) {
    display: flex;
    flex-wrap: wrap;
  }
}

.bar-graph__label {
  grid-area: label;
  position: relative;

  @supports (-ms-ime-align: auto) {
    flex: 0 0 40%;
    margin-bottom: $margin / 8;
  }
}

.bar-graph__bar {
  grid-area: bar;
  width: 100%;
  height: $bar-graph-height;
  background: var(--graph-bg);
  clip-path: polygon($bar-graph-height 0, 100% 0, calc(100% - #{ $bar-graph-height }) 100%, 0 100%);
  overflow: hidden;

  @supports (-ms-ime-align: auto) {
    flex: 0 0 40%;
  }
}

.bar-graph__line {
  display: flex;
  justify-content: flex-end;
  width: 0;
  height: 100%;
  background: var(--graph-color);
  clip-path: polygon(0 0, 100% 0, calc(100% - #{ $bar-graph-height }) 100%, 0 100%);
  transition: width 200ms;

  &.modify-full-width-placeholder {
    width: 100% !important; // This is a placeholder and should be replaced with a proper calculation
  }
}

.bar-graph__value {
  grid-area: value;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: -.25em;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  color: var(--title-color);

  @supports (-ms-ime-align: auto) {
    flex: 0 0 20%;
  }

  [class^="compare-"],
  [class^="modify-"] {
    margin-right: .5em;
  }
}

.bar-graph__compare,
.bar-graph__modify {
  height: 100%;
  width: 0;
  clip-path: polygon($bar-graph-height 0, 100% 0, calc(100% - #{ $bar-graph-height }) 100%, 0 100%);
  transition: width 200ms;

  &--positive {
    background: $green;
  }

  &--negative {
    background: $red;
  }
}
