.button {
  position: relative;
  display: inline-block;
  padding: ($margin / 4) ($margin / 1.25);
  font-weight: 700;
  font-size: 11px;
  text-decoration: none;
  background: var(--border-color);
  color: rgba($white, .6);
  box-shadow: 3px 3px 0 var(--border-color);
  clip-path: polygon(80% 0, 100% 100%, 20% 100%, 0 0);

  body.light_theme & {
    background: var(--primaryDark);
    color: $white;
  }

  &:hover,
  &:active {
    color: $white;
    border-color: $white;
    background: var(--border-color);

    .button__tooltip {
      display: block;
    }
  }

  &--small {
    padding: .25em .5em;
    font-size: 12px;
    border-color: var(--border-color);
    background-color: var(--border-color);
    box-shadow: none;
    clip-path: none;
    font-weight: 300;

    body.light_theme & {
      border-color: var(--bg-color);
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  }

  &--smaller {
    padding: ($margin / 6) ($margin / 2);
    font-size: 10px;
    font-weight: 300;
  }

  &--primary {
    background: $red;
    color: $white;
    border-color: $red;

    body.light_theme & {
      background: $red;
    }

    &:hover {
      background: darken($red, 5%);
    }
  }
}


.button__tooltip {
  display: none;
  position: absolute;
  top: -1px;
  left: -.5em;
  transform: translateX(-100%);
  padding: .25em .5em;
  font-size: 12px;
  color: rgba($white, .5);
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  z-index: 10;
}
