.button {
  position: relative;
  display: inline-block;
  height: $margin;
  padding: 0 $margin * 1.5 0 $margin / 2;
  font-weight: 300;
  font-size: 16px;
  line-height: $margin;
  text-decoration: none;
  background: linear-gradient(135deg, $red 50%, lighten($red, 10%) 100%);
  border-bottom: 1px solid lighten($red, 10%);
  color: $white;
  clip-path: polygon(0 0, 100% 0, calc(100% - #{ $margin }) 100%, 0 100%);
  transition: padding 100ms;

  &:hover,
  &:active {
    color: var(--title-color);
    border-color: darken($red, 5%);
    background: darken($red, 5%);
    padding-left: $margin / 1.5;

    .button__tooltip {
      display: block;
    }
  }

  &--small {
    height: $margin / 1.25;
    padding: 0 $margin * 1.25 0 $margin / 4;
    border-color: var(--border-color);
    background-color: var(--border-color);
    box-shadow: none;
    font-size: 12px;
    line-height: $margin / 1.25;
    clip-path: polygon(0 0, 100% 0, calc(100% - #{ $margin / 1.25 }) 100%, 0 100%);

    &:hover,
    &:active {
      padding-left: $margin / 2;
    }
  }

  &--smaller {
    padding: ($margin / 6) ($margin / 2);
    font-size: 10px;
    font-weight: 300;
  }

  &--primary {
    background: $red;
    color: $white;
    border-color: $red;

    .theme-light & {
      background: $red;
      color: $white;
    }

    &:hover {
      background: darken($red, 5%);
    }
  }

  &--full-width {
    width: 100%;
    text-align: center;
    clip-path: polygon(calc(100% - #{$margin}) 0, 100% 100%, #{$margin} 100%, 0 0);
  }
}


.button__tooltip {
  display: none;
  position: absolute;
  top: -1px;
  left: -.5em;
  transform: translateX(-100%);
  padding: .25em .5em;
  font-size: 12px;
  color: rgba($white, .5);
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  z-index: 10;
}
