.circle-graph {
  position: relative;
  width: 12vw;
  height: 12vw;
  max-width: 10.5rem;
  max-height: 10.5rem;
}

.circle-graph__label {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;

  h4 {
    position: relative;
    display: block;
    margin: 0 0 -.25em;
    text-align: center;
    font-weight: 700;
    font-family: "Teko", sans-serif;
    color: var(--title-color);

    .modify-element {
      position: absolute;
      font-size: 18px;
      line-height: 1em;
      left: 0;
      top: 50%;
      transform: translateY(-50%) translateX(-100%);
    }
  }

  [class^="compare-"] {
    font-size: 13px;
    position: absolute;
    width: 100%;
    text-align: center;
  }
}

.circle-graph__graph {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle-graph__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--graph-bg);
  background-image: conic-gradient(var(--graph-color) calc(var(--value) * 1%), var(--graph-bg) 0%);
  transform: scale(-1, 1);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: $circle-graph-thickness;
    left: $circle-graph-thickness;
    background: var(--bg-color);
    width: calc(100% - #{ $circle-graph-thickness * 2 });
    height: calc(100% - #{ $circle-graph-thickness * 2 });
    border-radius: 50%;
  }
}

.circle-graph__extra-modifier {
  position: absolute;
  right: 0;
  bottom: .5em;
  transform: translateX(calc(100% + .25em));
  font-size: 12px;
  color: lighten($text-color, 10%);
}
