.compare-float {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 0 2.5em 0 .75em;
  border: 1px solid $border-color;
  border-bottom: 0;
  background: $bg-color;
  font-size: 14px;
  box-shadow: 0 -2px 10px rgba($black, .1);

  span {
    display: block;
    padding: .5em 0;

    @media (min-width: 640px) {
      display: flex;
      align-items: center;
    }
  }

  strong {
    color: $white;

    @media (min-width: 640px) {
      margin: 0 0 0 .5em;
    }
  }
}

.compare-float__close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: $red;
  color: $white;
  height: 100%;
  width: 2em;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  padding: .55em;
  cursor: pointer;

  &:hover,
  &:active {
    background: darken($red, 10%);
    color: $white;
  }
}

.compare-higher {
  color: $green;
}

.compare-lower {
  color: $red;
}

[data-compare-target] {
  position: relative;

  &:hover,
  &:active {
    .compare__difference {
      display: block;
    }
  }
}

.compare__difference {
  display: none;
  position: absolute;
  top: 50%;
  right: -.5em;
  transform: translateX(100%) translateY(-50%);
  padding: .5em .75em;
  font-size: 14px;
  color: $white;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  background: $bg-color;
  border: 1px solid $border-color;
  z-index: 10;
}
