.event-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.event-background__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.09;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.event-background__gradient-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgba($primary-dark,1) 0%,rgba($primary-dark,0) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to left, rgba($primary-dark,1) 0%,rgba($primary-dark,0) 100%);
  }
}

.event-background__gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(#21212b,1) 0%,rgba(#21212b,0) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: linear-gradient(to top, rgba(#21212b,1) 0%,rgba(#21212b,0) 100%);
  }
}

.event-top {
  &--soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 90px;
  }
}

.event__flags {
  display: none;

  @include media-min(lg) {
    display: grid;
    grid-template: "second first third";
    width: 675px;
    justify-content: space-between;
    margin: 50px auto 100px;
  }
}

.event-top__flag {
  width: 20px;
  height: 300px;
  background: var(--primary);
  width: 222px;
  height: 555px;
  transform: scale(0.901) translate(0, 16px);
  transform-origin: top right;
  background-size: cover;
  background-position: top center;
  box-shadow: 0 $margin $margin rgba($black, 0.2);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba($primary, 1) 25%, rgba($primary, 0) 100%);
    z-index: -1;
  }

  &--first {
    @include color-badge($gold);
    grid-area: first;
    transform: scale(1) translate(0, 0);
    transform-origin: center center;
  }

  &--second {
    @include color-badge($silver);
    grid-area: second;
    transform-origin: top left;
  }

  &--third {
    @include color-badge($bronze);
    grid-area: third;
  }
}

.flag__name {
  position: absolute;
  display: inline-block;
  padding: 10px 13px;
  top: 0;
  left: 40px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  background: rgba($black, 0.24);
  transform: rotate(90deg);
  transform-origin: top left;
}

.flag__score {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.flag__badge {
  position: relative;
  width: 135px;

  svg {
    width: 100%;
  }
}

.flag__badge-position,
.rewards__position {
  position: absolute;
  width: 100%;
  top: 35px;
  font-size: 35px;
  font-family: "Teko", monospace;
  text-align: center;
}

.flag__eventscore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: var(--white);
}

.eventscore__name {
  margin-bottom: -5px;
  font-size: 12px;
}
.eventscore__score {
  font-family: "Teko", monospace;
  font-size: 35px;
}

.event__time-wrapper,
.event__time-information {
  display: flex;
  margin-top: 20px;
  font-size: 56px;
  line-height: 56px;
  color: var(--white);

  @include media-min(lg) {
    font-size: 66px;
    line-height: 66px;
  }

  &--large {
    font-size: 166px;
    line-height: 136px;

    .event__double {
      line-height: 84px;
    }
  }
}

.event__time {
  font-family: "Teko", monospace;
}

.event__double {
  font-weight: 600;
  line-height: 40px;

  @include media-min(lg) {
    line-height: 54px;
  }
}

.event__info {
  display: block;
  font-size: 60px;
  line-height: 56px;
}

.event__small {
  color: var(--white);
  margin-bottom: $margin / 4;
}

.event__top-title {
  margin: 0;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
}

.event__top-subtitle {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

.event__badges-wrapper {
  margin-top: 25px;
}

.badges__title {
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
}

.event__badges {
  display: flex;
  justify-content: center;
}

.event__badge {
  width: 50%;
  max-width: 150px;
  padding: 0 $margin / 4;

  img {
    width: 100%;
  }
}

.rewards {
  margin-top: $margin / 2;
}

.rewards__badges {
  display: flex;
}

.rewards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% / 3 * 1;
  padding: 0 $margin / 4;
  border-right: 1px solid $border-color;
  text-align: center;

  &:last-child {
    border-right: 0;
  }

  .rewards__badge {
    position: relative;
    width: 65px;
    margin: 0 auto;
  }

  .rewards__position {
    top: $margin / 2;
    font-size: 18px;
  }
}

.rewards__item-description {
  font-size: 11px;

  strong {
    display: block;
    margin-top: $margin / 8;
    font-family: "Teko", monospace;
    font-size: 23px;
    color: var(--white);
  }
}

.rewards__description {
  display: block;
  width: 100%;
  margin-top: $margin / 2;
  text-align: center;
}

.item__event-content {
  padding: $margin / 1.5;

  @include media-min(xs) {
    padding: $margin;
  }
}

.item__event-banner {
  img {
    width: 100%;
    height: auto;
  }
}

.event__manual-update {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 14px;

  > div {
    margin-right: $margin / 2;
    margin-bottom: 0;
    text-align: right;
  }
}
