.filter {
  @include media-min(xs) {
    max-width: 200px;
  }

  a:not(.button) + & {
    margin: $margin 0 0;

    @include media-min(sm) {
      margin: ($margin * 2) 0 0;
    }
  }
}

.filter__title {
  margin-bottom: $margin / 2;
  color: var(--title-color);
  font-weight: 300;
  font-size: 18px;
}

.filter__item {
  margin: ($margin / 2) 0;
  font-size: 16px;

  label {
    display: block;
    margin-bottom: $margin / 8;
  }
}

.filter__button {
  margin-top: $margin / 4;
  width: 100%;
}

.chart-filter {
  display: flex;
  flex-direction: column;
  margin: -#{ $margin / 2 };

  @include media-min(md) {
    display: grid;
    grid-template-columns: 38% 38% 20% 4%
  }

  > div {
    margin-bottom: $margin / 4;

    @include media-min(md) {
      margin-right: $margin / 2;
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  input[type="datetime-local"] {
    &::-webkit-clear-button {
      display: none;
      -webkit-appearance: none;
    }

    &::-webkit-calendar-picker-indicator {
      color: var(--text-color);

      &:hover {
        background: $primary;
        color: var(--title-color);
      }
    }
  }
}

.chart-filter__button {
  height: $margin * 1.1;
  margin-top: auto;
  border: 0;
  background: $red;
  color: var(--title-color);
  cursor: pointer;
}
