.filter {
  @include media-min(xs) {
    max-width: 200px;
  }

  a:not(.button) + & {
    margin: $margin 0 0;

    @include media-min(sm) {
      margin: ($margin * 2) 0 0;
    }
  }
}

.filter__title {
  margin-bottom: $margin / 2;
  color: var(--title-color);
  font-weight: 300;
  font-size: 18px;
}

.filter__item {
  margin: ($margin / 2) 0;
  font-size: 16px;

  label {
    display: block;
    margin-bottom: $margin / 8;
  }
}

.filter__button {
  margin-top: $margin / 4;
  width: 100%;
}
