.filter {
  @media (min-width: 400px) {
    max-width: 200px;
  }

  a + & {
    margin: $margin 0 0;

    @media (min-width: 640px) {
      margin: ($margin * 2) 0 0;
    }
  }
}

.filter__title {
  margin-bottom: $margin / 2;
  color: var(--title-color);
  font-weight: 300;
  font-size: 18px;

  @media (min-width: 640px) {
    margin-bottom: $margin;
  }
}

.filter__item {
  margin: ($margin / 2) 0;
  font-size: 16px;

  label {
    display: block;
    margin-bottom: $margin / 8;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: .75em;
    border: 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--graph-bg);
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba($black, .1), 0px 3px 27px rgba($black, .1);

    &:hover {
      border-color: var(--text-color);
    }

    &:focus {
      outline: none;
    }

    .theme-light & {
      border-color: var(--title-color);
    }

    option {
      color: var(--text-color);
      background: var(--bg-color);
    }
  }
}

.filter__button {
  margin-top: $margin / 2;
  width: 100%;
}
