.item {
  margin-bottom: $margin / 2;
  filter: drop-shadow(0 6px 32px rgba($black, .05)) drop-shadow(0 2px 4px rgba($black, .2));
}

.item__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: $margin;
  border: 2px solid  rgba($white, .1);
  background: $black image_url("item-pattern.jpg");
  clip-path: polygon(calc(0% + #{$margin}) 0%, 100% 0, 100% calc(100% - #{$margin}), calc(100% - #{$margin}) 100%, 0 100%, 0% calc(0% + #{$margin}));

  .item--compact & {
    padding: $margin / 2;
    clip-path: polygon(calc(0% + #{$margin / 2}) 0%, 100% 0, 100% calc(100% - #{$margin / 2}), calc(100% - #{$margin / 2}) 100%, 0 100%, 0% calc(0% + #{$margin / 2}));
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 40px;
    background-color: $white;
    transform: rotate(45deg) translateX(-32px) translateY(-15px);

    .item--compact & {
      transform: rotate(45deg) translateX(-48px) translateY(-15px);
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70px;
    width: 70px;
    background: $white;
    clip-path: polygon(calc(100% - 4px) 32px, calc(100% - 4px) calc(0% + 4px), 100% 0, 100% 100%, 0 100%, calc(0% + 4px) calc(100% - 4px), 32px calc(100% - 4px));

    .item--compact & {
      height: 35px;
      width: 35px;
      clip-path: polygon(calc(100% - 3px) 17px, calc(100% - 3px) calc(0% + 3px), 100% 0, 100% 100%, 0 100%, calc(0% + 3px) calc(100% - 3px), 17px calc(100% - 3px));
    }
  }
}

.item__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $max-width - $item-image-width - ($margin * 2) - ($border-width * 4);
  max-width: $max-width - $item-image-width - ($margin * 2);
  min-height: 204px;
  padding-right: $margin / 2;

  .item--compact & {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: 0;
    padding-right: 0;
  }
}

.item__title {
  margin-bottom: $margin / 2;

  .item--compact & {
    display: block;
    margin: 0;

    .heading__line {
      display: none;
    }
  }
}

.item__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - #{$body-padding * 2} - #{ $border-width * 2 });
  max-width: $item-image-width + ($border-width * 2);
  border: 2px solid  rgba($white, .5);
  overflow: hidden;
}

.item__image {
  display: block;
  box-shadow: 0 2px 10px rgba($black, .1);

  .item--compact & {
    display: none;
  }
}

.item__main {
  margin-top: auto;
}

.item__extra {
  display: none;

  .item--compact & {
    display: none;
  }
}

.item__actions {
  margin-left: auto;
  display: none;

  .item--compact & {
    display: block;
  }
}

.item__large-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $margin / 4;
  font-size: 40px;
  font-weight: 700;
  color: $white;

  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: $text-color
  }
}

.item__small-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  color: $text-color;

  span {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: $white
  }
}

.item__icon {
  display: block;
  margin-top: $margin / 2;

  img {
    height: 32px;
    width: auto;
  }
}

.item__tray {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
