.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
  padding: $margin / 1.5;
  margin-bottom: $margin / 2;
  border: 1px solid lighten($primary, 10%);
  border-radius: 2px;
  background: var(--primary);
  filter: drop-shadow(0 6px 32px rgba($black, .05)) drop-shadow(0 2px 4px rgba($black, .2));
  transition: transform 100ms;
  will-change: scroll-position, contents;

  @media (hover: none) and (pointer: coarse) {
    filter: none;
  }

  @include media-min(xs) {
    padding: $margin;
  }

  @media (min-width: 640px) and (max-width: $max-width - 1) {
    flex: 0 0 calc((100% - #{$margin} / 2) / 2);
    max-width: calc((100% - #{$margin} / 2) / 2);
    margin-right: $margin / 2;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @include media-min(max-width) {
    flex: 0 0 calc((100% - #{$margin}) / 3);
    max-width: calc((100% - #{$margin}) / 3);
    margin-right: $margin / 2;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  @supports (-ms-ime-align: auto) {
    flex: 0 0 calc((100% - #{$margin}) / 3 - 1px);
  }

  &--full-width {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.item__title {
  font-size: 24px;
  margin: 0 0 $margin / 2;
}

.item__large-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $margin / 4;
  font-size: 40px;
  font-weight: 700;
  color: $white;

  .theme-light & {
    color: var(--title-color);
  }

  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: var(--text-color)
  }

  small {
    position: absolute;
    bottom: .25em;
    right: 2em;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color);
  }

  > div {
    display: flex;
    align-items: flex-end;

    > span {
      margin-bottom: 6px;
      margin-left: 6px;
    }
  }
}

.item__small-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  color: var(--text-color);

  span {
    margin-left: auto;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: $white;

    .theme-light & {
      color: var(--text-color);
    }

    &.item__small-info-modify-value {
      font-weight: 300;
      font-size: .8em;
      margin-left: .25em;
    }
  }

  small {
    font-size: 10px;
    margin-left: .25em;
    color: var(--text-color);
    font-weight: 300;
  }
}

.item__full-width-info {
  font-size: 14px;
  margin-top: $margin / 2;
  text-transform: none;

  &:first-of-type {
    margin-top: 0;
  }

  &--image {
    display: flex;
    align-items: center;
    width: 100%;

    img {
      width: 64px;
      margin-left: -19px;

      .theme-light & {
        filter: brightness(20%);
      }
    }
  }

  &--no-margin-top {
    margin-top: 0;
  }

  span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: .1em;
    text-transform: uppercase;
  }

  + .item__small-info {
    margin-top: $margin / 8;
  }

  &--large {
    small {
      font-size: 12px;

      @include media-min(sm) {
        font-size: 14px;
      }

      &.extra-small {
        font-size: 12px;
      }
    }
    span {
      font-size: 12px;

      @include media-min(sm) {
        font-size: 17px;
      }
    }
  }
}

.item__icon {
  display: block;

  &:hover,
  &:active {
    filter: brightness(1.5);
  }

  img {
    height: 32px;
    width: auto;
  }
}

.item__small-text {
  font-size: 12px;
  margin: 0 0 $margin / 4;
}

.item__large-icon-wrapper {
  width: 100%;
  text-align: center;
  padding-bottom: $margin / 2;

  .item--extra-compact & {
    display: none;
  }

  img {
    max-width: $margin * 3.5;

    .theme-light & {
      filter: brightness(0%);
    }

    .item--legend & {
      filter: brightness(100%) !important;
    }
  }
}

.item__tips {
  margin-top: $margin / 4;
}

.item__note {
  display: block;
  margin-bottom: $margin / 2;
  font-size: 11px;
  line-height: 1.5em;
  text-transform: none;
}

.item__tray {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding-top: $margin / 2;
}

.item--table {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  border: 2px solid var(--border-color);
  background: rgba($black, .2);
  box-shadow: 0 3px 10px rgba($black, .25);
  line-height: 1.1em;
  text-transform: uppercase;

  .theme-light & {
    background: $white;
    border: 0;
  }
}

.item--table__icon-wrapper {
  display: flex;
  border-right: 1px solid var(--border-color);

  .theme-light & {
    border-color: rgba($black, .1);
  }
}

.item--table__icon {
  align-self: center;

  @media (max-width: 639px) {
    max-width: 120px;
  }

  .theme-light & {
    filter: invert(1);
  }
}

.item--table__title {
  width: 100%;
  margin: 0;
  padding: .5em;
  border-bottom: 1px solid var(--border-color);
  font-size: 14px;

  .theme-light & {
    border-color: rgba($black, .1);
  }
}

.item--table__info {
  font-size: 14px;
  padding: .5em .5em 0;

  @include media-min(sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.item--table__item {
  margin: 0 ($margin / 2.5) .5em 0;
  color: var(--title-color);

  span {
    text-transform: none;
    color: var(--text-color);
  }
}

.item--table__item-title {
  display: flex;
  align-items: flex-start;
  margin: .25em 0 0;
  font-size: 20px;

  small {
    display: block;
    margin-left: .25em;
    font-size: 11px;
    font-weight: normal;
    color: var(--text-color);
  }
}

.item--table__item-other {
  display: block;
  font-size: 12px;
  line-height: 1.25em;
}
