.legends-banner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{ $margin / 9 } ($margin / 2);
}

.legends-banner__item {
  flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
  max-width: 100%;
  max-height: 250px;
  padding: 0 #{ $margin / 9 } ($margin / 9);
  overflow: hidden;

  @media (min-width: 560px) {
    flex: 0 0 calc(100% / 4);
    width: calc(100% / 4);
  }

  @media (min-width: 768px) {
    flex: 0 0 calc(100% / 6);
    width: calc(100% / 6);
  }

  @media (min-width: $max-width) {
    flex: 0 0 calc(100% / 9);
    width: calc(100% / 9);
  }

  &:hover,
  &:active {
    .item__content {
      border-color: rgba($white, .2);

      &::before,
      &::after {
        opacity: 1;
      }
    }
  }
}

.legends-banner__image {
  width: 100%;
}
