.legends-banner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{ $margin / 8 } ($margin / 2);
}

.legends-banner__item {
  position: relative;
  flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
  max-width: 100%;
  max-height: 200px;
  padding: 0 #{ $margin / 8 };
  margin-bottom: ($margin / 8 * 2);
  overflow: hidden;
  filter: drop-shadow(0px 3px 7px rgba($black, .1)) drop-shadow(0px 3px 27px rgba($black, .05));
  transition: transform 100ms;

  @media (hover: none) and (pointer: coarse) {
    filter: none;
  }

  @media (min-width: 560px) {
    flex: 0 0 calc(100% / 5);
    width: calc(100% / 5);
  }

  @include media-min(md) {
    flex: 0 0 calc(100% / 6);
    width: calc(100% / 6);
    max-height: 250px;
  }

  @include media-min(max-width) {
    flex: 0 0 calc(100% / 9);
    width: calc(100% / 9);
  }

  &:hover,
  &:active {
    transform: scale(1.05);

    .legends-banner__button {
      background: $red;
      color: $white;
    }
  }
}

.legends-banner__image {
  width: 100%;
}

.legends-banner__content {
  position: absolute;
  bottom: 0;
  left: $margin / 8;
  padding: $margin / 3 $margin / 4;
  width: calc(100% - #{ $margin / 4 });
  color: $white;
  font-size: 12px;
  line-height: 1em;
  background: var(--secondary);
}

.legends-banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: $margin / 4;
  height: $margin / 1.25;
  width: $margin / 1.25;
  font-size: $margin;
  color: var(--secondary);
  background: $white;
  border-radius: 50%;
  transform: translateY(calc(-100% - #{ $margin / 4 }));
  transition-property: background, color;
  transition-duration: 100ms;

  @include media-min(sm) {
    transform: translateY(-50%);
  }
}
