.legend {
  flex-direction: column;
  height: auto;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    height: 100%;
  }
}

.legend__image {
  width: 100%;
  max-width: 200px;
  display: none;

  @media screen and (min-width: 900px) {
    display: block;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}

.legend__intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 900px) {
    padding-left: 40px;
  }

  .item--compact & {
    padding-left: 0;
  }
}

.legend__lore {
  width: 100%;

  p {
    line-height: 23px;
  }
}

.legend__ability {
  margin-bottom: 30px;

  img {
    width: 100%;

    .theme-light & {
      filter: brightness(20%);
    }
  }
}

.item__content--ability {
  h3 {
    font-size: 16px;
  }
  .ability__full-width-info {
    min-height: 28px;
    display: flex;
  }
}

.ability__information {
  margin-top: 25px;
}

.columns__column--spacing {
  margin-right: 20px;
}

.columns__extra {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 900px) {
    flex-direction: row;
  }

  .item__title {
    width: 100%;
  }

  .columns__column {
    width: 100%;
    @media screen and (min-width: 900px) {
      width: 50%;
    }
  }
}

.legend__badges {
  display: flex;
  flex-direction: column;
  width: 100%;

  .item__full-width-info--image {
    img {
      width: 60px;
      margin-left: 0;

      .theme-light & {
        filter: brightness(100%);
      }

      @media screen and (min-width: 425px) {
        width: 84px;
      }
    }
  }

  .item__full-width-info {
    margin-top: 20px;

    @media screen and (min-width: 425px) {
      margin-top: 10px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.columns__about {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 640px) {
    flex-direction: row;
  }

  .columns__column {
    width: 100%;

    @media screen and (min-width: 640px) {
      width: 50%;
    }

    &:last-of-type {
      margin-top: 25px;

      @media screen and (min-width: 640px) {
        margin-top: 0;
      }
    }
  }
}

.mobile__legend-image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 25px;

  @media screen and (min-width: 900px) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 200px;
  }
}

.legend__toggle-button {
  margin-top: $margin / 4;
}

.tip__username {
  font-style: italic;
  margin-top: -5px;
  display: block;
}
