nav {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-left: 18px;

  a {
    display: block;
    padding: 13px 40px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 166px;
    background: rgba($darkblue, 0.7);
    text-align: center;
    clip-path: polygon(80% 0, 100% 100%, 20% 100%, 0 0);
    margin-left: -24px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    transition: all 250ms ease;

    @media screen and (min-width: 420px) {
      width: 211px;
      margin-left: -30px;
      font-size: 12px;
    }

    &:hover,
    &:active,
    &.active {
      background: $red;
      color: $white;
    }
  }
}
