@keyframes move-in-navigation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-left: 18px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ($margin / 3) $margin;
    margin-left: -#{ $margin / 2 };
    margin-bottom: $margin / 6;
    width: $margin * 4;
    background: var(--primaryDark);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 10px;
    clip-path: polygon(80% 0, 100% 100%, 20% 100%, 0 0);
    transition-property: background, color;
    transition-duration: 250ms;

    @media screen and (min-width: 420px) {
      width: $margin * 5;
      margin-left: -30px;
      font-size: 12px;
    }

    @supports (-ms-ime-align:auto) {
      margin-left: 0;
    }

    &:hover,
    &:active,
    &.active {
      background: $red;
      color: $white;
    }
  }

  &--mobile-floating {
    @media (max-width: 639px) {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      max-width: 300px;
      height: 100vh;
      padding: ($margin * 2) ($margin / 4) 0;
      background: var(--primaryDark);
      z-index: 100;
      box-shadow: 0 0 30px rgba($black, .35);
      overflow-y: auto;
      animation: move-in-navigation 300ms;

      &.active {
        display: block;
      }

      a {
        display: block;
        clip-path: none;
        width: 100%;
        margin: 0;
        padding: ($margin / 4) ($margin / 2);
        text-align: right;
        font-weight: 300;
        border-bottom: 0;

        &:not([href]) {
          border-top: 1px solid var(--border-color);
          font-weight: 700;
          font-size: 14px;
          padding-top: $margin / 2;
          margin-top: ($margin / 2) - ($margin / 4);

          &:hover,
          &:active {
            background: var(--primaryDark);
            color: var(--text-color);
            cursor: auto;
          }
        }
      }

      .dropdown > a {
        &::after {
          display: none;
        }
      }

      .dropdown__content {
        display: block;
        position: relative;
        max-width: auto;
        top: 0;
      }
    }
  }

  &--footer {
    margin: #{($margin) - ($margin / 4)} 0 $margin;

    @media (min-width: 640px) {
      margin: #{($margin * 2) - ($margin / 2)} 0 ($margin * 2);
    }
  }
}

.mobile-navigation-trigger {
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: var(--title-color);
  z-index: 200;
  background: var(--primaryDark);
  cursor: pointer;

  @media (min-width: 640px) {
    display: none;
  }
}

.dropdown {
  position: relative;

  > a {
    cursor: pointer;

    &::after {
      content: "v";
      display: inline-block;
      font-weight: 300;
      margin-left: 1em;
      font-size: .6em;
      opacity: .8;
    }
  }

  &:hover,
  &:active {
    .dropdown__content {
      display: block;
    }
  }
}

.dropdown__content {
  display: none;
  position: absolute;
  left: 0;
  top: $margin + 7;
  z-index: 10;

  a {
    background: var(--primaryDark);
  }
}
