.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 300px;
  padding-bottom: $margin;
  background: var(--primary);
  overflow: auto;
  z-index: 1000;
  box-shadow: 0 0 ($margin / 4) rgba($black, .42);
  flex-direction: column;
  transform: translateX(-120%);
  transition: transform 250ms ease;

  @media screen and (min-width: 992px) {
    position: relative;
    flex-direction: row;
    height: auto;
    width: auto;
    max-width: inherit;
    padding-bottom: 0;
    background: transparent;
    overflow: inherit;
    z-index: 1;
    box-shadow: none;
    transition: none;
    transform: translateX(0);
  }

  &.active {
    transform: translateX(0);
  }

  a {
    font-size: 15px;
    color: lighten($text-color, 10%);
    transition: color 250ms ease;
    width: 100%;
    display: block;

    @media screen and (min-width: 992px) {
      font-size: 13px;
      width: auto;
    }

    @media screen and (min-width: 1250px) {
      font-size: 15px;
    }

    &:hover {
      color: $white;
    }

    &.active {
      color: $white;
    }
  }

  .dropdown {
    display: block;

    @media screen and (min-width: 992px) {
      display: flex;
      flex-direction: row;
    }
  }

  > a,
  .dropdown > a {
    margin-right: 0;
    text-decoration: none;
    padding: $margin / 2;
    color: var(--white);

    @media screen and (min-width: 992px) {
      margin-right: $margin / 4;
      padding: 0;
      color: lighten($text-color, 10%);
    }

    @media screen and (min-width: 1250px) {
      margin-right: $margin / 1.25;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .dropdown {
    &:hover {
      > a {
        color: $white;
      }
    }
  }
}

.navigation-close {
  display: block;
  padding: 20px;
  cursor: pointer;

  @media screen and (min-width: 992px) {
    display: none;
  }

  svg {
    width: 20px;
  }
}

.navigation-open {
  display: block;
  cursor: pointer;

  @media screen and (min-width: 992px) {
    display: none;
  }

  svg {
    width: 20px;
  }
}
