.item--profile {
    width: 100%;
    margin: 0;
    flex: 0 0 calc(100% - #{ $margin });
    max-width: calc(100% - #{ $margin });
}

.profile-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro-platform {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.intro-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__about {
  display: flex;
  align-items: center;
}

.profile__button {
  padding: 8px $margin / 2;
  background: darken($primary, 3%);
  border-radius: 3px;
  border: 1px solid lighten($primary, 5%);
  text-decoration: none;
  font-size: 14px;
  margin-left: $margin / 2;

  &--primary {
    background: var(--red);
    color: var(--white);
    border: 1px solid lighten($red, 5%);
  }
}

.user-name {
  font-size: 35px;
  color: var(--white);
  font-weight: 700;
  margin: 0;
}

.user-status {
  font-size: 10px;
  font-weight: 700;
  color: var(--text-color);
  background: var(--primary);
  padding: 6px 12px;
  border-radius: 3px;
  margin-left: $margin / 2;
  letter-spacing: .5px;

  &--is-online {
    background: $green;
    color: $white;
    border-color: lighten($green, 10%);
  }

  &--is-in-game {
    background: $orange;
    color: $white;
    border-color: lighten($orange, 10%);
  }
}

.profile-content {
  display: grid;
  grid-template: "sidebar content";
  grid-template-columns: #{ 100% / 3 * 1 } #{ 100% / 3 * 2 };
  margin-top: $margin;
}

.profile-content__sidebar {
  grid-area: "sidebar";
}

.profile-content__content {
  grid-area: "content";
}

.level-graph {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;

  .circle-graph__bar {
    position: relative;
    width: 175px;
    height: 175px;
  }
}

.profile__charts {
  width: 100%;
  border: 1px solid lighten($primary, 10%);
  border-radius: 2px;
  background: var(--primary);
  flex: 0 0 calc(100% - #{ $margin });
  max-width: calc(100% - #{ $margin });
  margin-top: $margin / 2;
  padding: $margin;

  img {
    vertical-align: middle;
    max-width: 100%;
  }
}

.chart__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 20px;

  h5 {
    margin: 0;
    max-width: 66%;
  }

  span {
    color: var(--white);
    font-weight: bold;
    font-size: 25px;
    font-family: "Teko", monospace;
  }
}

.profile__chart {
  display: none;

  &:first-of-type:not(.profile__chart--is-hidden) {
    display: block;
  }

  &--is-hidden {
    display: none;
  }

  &--is-visible {
    display: block;
  }
}

.profile__chart-select {
  margin-top: $margin;
}

.profile-legends {
  width: 100%;
}

.profile-legend {
  width: 100%;
  margin: 0;
  max-width: 100%;
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: $margin / 2;

  &--current {
    border: 3px solid var(--red);
  }
}

.profile-legend__image {
  width: 190px;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.profile-legend__content {
  padding: $margin 35px;
  width: calc(100% - 190px);
}

.profile-legend__selected {
  display: none;
  font-size: 13px;

  .profile-legend--current & {
    display: block;
  }
}

.profile-legend__name {
  font-size: 18px;
  margin: 0;
  font-weight: 700;

  .profile-legend--current & {
    font-size: 23px;
  }
}

.profile-legend__stats {
  margin-top: 25px;

  .profile-legend--current & {
    margin-top: 35px;
  }
}

.profile-legend__stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.profile-stats {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  padding-right: $margin / 2;
  margin: 8px 0px;
}

.profile-stats__bar {
  margin: 2px 0 10px;
}

.profile-stats__name {
  font-size: 13px;
  font-weight: 400;
}

.profile-stats__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $margin / 10;
  font-size: 21px;
  color: var(--white);
  font-weight: 700;
  font-family: "Teko", monospace;

  small {
    font-family: "Raleway", sans-serif;
  }
}

.profile-stats__updates {
  font-size: 11px;
  color: var(--text-color);
  font-weight: normal;
  cursor: default;
}

.profile-stats__updates-item {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.amount__global {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
}

.profile-legend__no-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 25px;
  background: rgba($primary, 0.88);
}

.profile__level {
  position: relative;
}

.profile__claim {
  margin-top: $margin;
  color: var(--text-color);
  font-size: 13px;
  line-height: 18px;

  h3 {
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
  }
}

.profile__notification {
  flex: 0 0 calc(100% - #{ $margin });
  width: 100%;
  max-width: calc(100% - #{ $margin });
  padding: $margin / 2;
  margin-top: $margin / 2;
  border-radius: 2px;
  background: var(--orange);
  color: var(--white);
  font-size: 14px;
}

.level__badge {
  margin-top: -#{ $margin / 2 };
  margin-bottom: -#{ $margin / 2 };
  text-align: center;
  position: relative;

  h4 {
    font-family: "Teko", monospace;
    font-weight: 600;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%);
    font-size: 56px;
    color: var(--white);

    &.level__max {
      top: 138px;
      font-size: 36px;
      color: var(--white);
      background: lighten($secondary, 7%);
      width: 100px;
      height: 46px;
      border-radius: 10px;
    }
  }

  svg {
    max-width: 240px;
  }

  polyline,
  path,
  polygon,
  rect {
    fill: var(--graph-color);
    stroke: none;
  }

  .st0 {
    stroke: var(--graph-color) !important;
    fill: transparent !important;
  }

  .level1_4,
  .level90_94,
  .level95_99,
  .level100 {
    .st1 {
      stroke: var(--graph-color) !important;
      fill: transparent !important;
    }
  }
}
