.scroll-spy {
  display: none;
  flex-direction: column;
  position: absolute;
  left: calc(-#{ $margin } + 10px);
  top: 0px;
  padding-right: 10px;
  max-width: 200px;
  max-height: 70vh;
  overflow-y: hidden;
  transform: translateX(-100%);

  @include media-min(max-width) {
    display: flex;
  }

  &:hover {
    overflow-y: auto;
    overflow-y: overlay;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
  }

  &--is-fixed {
    position: fixed;
  }
}

.scroll-spy__item {
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-align: right;
  margin-bottom: $margin / 8;
  transition-property: border-width, padding;
  transition-duration: 200ms;

  &--large {
    font-size: 18px;
    color: $white;
  }

  &:hover,
  &:active,
  &--is-active {
    color: $white;
    border-right: 2px solid $red;
    padding-right: $margin / 4;
  }

  &:hover,
  &:active {
    border-color: $border-color;
  }
}
