.social {
  margin: $margin * 2 0 0;
}

.social__title {
  @extend .logo__sub-title;
  text-align: center;
  margin-top: 0;
}

.social__items {
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    margin: 0px $margin / 4;
    display: flex;
    align-items: center;

    &:hover,
    &:active {
      svg path {
        fill: $white;
      }
    }
  }

  svg {
    width: $margin / 2;

    path {
      fill: currentColor
    }
  }
}
