.social {
  margin: 80px 0 0;
}

.social__title {
  @extend .logo__sub-title;
  text-align: center;
  margin-top: 0;
}

.social__items {
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    margin: 0px 10px;
    display: flex;
    align-items: center;

    &:hover,
    &:active {
      filter: brightness(2);
    }
  }

  svg {
    width: 20px;
  }
}
