.spray-pattern {
  margin-top: $margin / 4;
  background: darken($primary, 5%);
  border: 1px solid lighten($primary, 5%);

  .theme-light & {
    background: rgba($black, 0.05);
    border: 1px solid rgba($black, .25);
  }

  circle {
    transition-property: transform;
    transition-duration: 500ms;
  }
}
