.spray-pattern {
  margin-top: $margin / 4;
  background: rgba($bg-color, .5) image-url("bg-pattern-light.jpg");
  border: 1px solid #797c8d;

  .theme-light & {
    background: rgba($black, 0.05);
    border: 1px solid rgba($black, .25);
  }

  circle {
    transition-property: transform;
    transition-duration: 500ms;
  }
}
