.theme-switch {
  display: none;
  position: absolute;
  right: 25px;
  top: 3px;
  padding: ($margin / 4) 0;

  @media screen and (min-width: 640px) {
    display: block;
  }

  @media screen and (min-width: 900px) {
    top: $margin / 2;
  }

  .theme-switch__item:last-child {
    display: none;
  }

  &--light {
    .theme-switch__item:first-child {
      display: none;
    }

    .theme-switch__item:last-child {
      display: flex;
    }
  }

  &--in-mobile-navigation {
    display: block;
    position: relative;
    text-align: right;
    right: 0;
    top: 0;
    margin-bottom: $margin / 2;

    @media screen and (min-width: 640px) {
      display: none;
    }

    .theme-switch__item {
      justify-content: flex-end;
    }
  }
}

.theme-switch__item {
 display: flex;
 align-items: center;
 text-decoration: none;
 font-size: 13px;
 cursor: pointer;
}

.theme-switch__icon {
  width: 100%;
  margin-left: 10px;
  max-width: 23px;

  .theme-switch--light & {
    filter: brightness(20%);
  }

  @media screen and (min-width: 900px) {
    max-width: 30px;
  }
}
