.tierlist {
  margin: $margin * 2 auto;
}

.tierlist__row {
  margin-bottom: $margin / 2;
  border: 2px solid var(--border-color);
  border-top-color: var(--title-color);
  background: rgba($black, .25);
  box-shadow: 0 3px 10px rgba($black, .25);
}

.tierlist__legend {
  position: relative;
  padding: .5em 0 .5em .5em;
  margin-top: -2px;
  margin-left: -2px;
  font-size: 16px;
  line-height: 1em;
  font-weight: 700;
  color: var(--primary-dark);
  background: var(--title-color);
  display: inline-block;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: calc(-2em + 1px);
    height: 2em;
    width: 2em;
    background: var(--title-color);
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }
}

.tierlist__content {
  display: flex;
  flex-wrap: wrap;
  padding: $margin / 8;
}

.tierlist__item {
  position: relative;
  margin: $margin / 8;
  background: rgba($black, .3);
  border: 1px solid var(--border-color);
  color: var(--title-color);
  box-shadow: 0 3px 10px rgba($black, .25);
  text-align: center;
  width: calc(100% - #{ $margin / 4 });

  @media (min-width: 460px) {
    width: calc(50% - #{ $margin / 4 });
  }

  @include media-min(sm) {
    width: calc(33.33% - #{ $margin / 4 });
  }

  &:hover {
    span {
      color: var(--title-color);
    }
  }

  span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: .25em .5em;
    background: var(--border-color);
    font-size: 12px;
    color: var(--text-color);
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.tierlist-description {
  margin-top: $margin * 2;

  p {
    text-transform: none;
    line-height: 1.5em;
    font-size: 14px;

    @include media-min(sm) {
      font-size: 16px;
    }
  }
}

.tierlist-description__title {
  margin-top: $margin * 2;
}

.tierlist-description__image {
  padding: $margin / 2;
  border: 1px solid var(--border-color);
  background: rgba($black, .3);
  text-align: center;

  .theme-light & {
    background: var(--border-color);
  }

  img,
  picture {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.tierlist-description__item {
  margin-top: $margin * 1.5;
}

.strawpoll-tierlist {
  max-width: 300px;
  margin: ($margin) auto;
}

.strawpoll-tierlist__item {
  position: relative;
  margin-bottom: $margin / 8;
  background: rgba($black, .3);
  border: 1px solid var(--border-color);
  box-shadow: 0 3px 10px rgba($black, .25);
  text-align: center;
  padding: $margin / 6;
  font-size: 12px;
  color: var(--text-color);
  counter-increment: strawpoll-tierlist-item;

  &::before {
    content: counter(strawpoll-tierlist-item);
    display: block;
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);

    @include media-min(xs) {
      left: -1em;
      transform: translateX(-100%) translateY(-50%);
    }
  }

  .theme-light & {
    background: var(--border-color);
  }

  &:first-child {
    padding: $margin / 2;
    font-size: 16px;
    color: var(--title-color);
    font-weight: 700;
  }

  &:nth-child(2),
  &:nth-child(3) {
    padding: $margin / 4;
    font-size: 14px;
    color: var(--title-color);
  }
}
