.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
  margin-top: $margin / 2;
  background: var(--primary-dark);
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;

  &--active {
    color: $white;
  }
}

.toggle__check {
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid var(--border-color);
  margin-right: .5em;

  .toggle--active & {
    border: 0;
    background: image_url("checkmark.png");
  }
}
