* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  --primary-dark: #{ $primary-dark };
  --bg-color: #{ $bg-color };
  --border-color: #{ $border-color };
  --text-color: #{ $text-color };
  --title-color: #{ $white };
  --graph-bg: #{ darken($primary, 5%) };
  --graph-color: #{ lighten($primary, 55%) };
  --primary: #{ $primary };
  --secondary: #{ $secondary };
  --white: #{ $white };
  --green: #{ $green };
  --red: #{ $red };

  margin: 0;
  background-color: var(--bg-color);
  background-image: image_url("layout/bg-body.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: "Raleway", sans-serif;
  font-display: auto;
  color: var(--text-color);
  font-weight: 300;
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 110px;

  &.theme-light {
    --primary-dark: #DEDEDE;
    --bg-color: #F1F1F1;
    --border-color: #FFF;
    --text-color: #313131;
    --title-color: #212121;

    background-image: image_url("bg-pattern-theme-light.jpg");
  }
}

a {
  color: var(--text-color);
}

blockquote {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5em;
  background: rgba($black, .1);
  margin: $margin 0;
  padding: 1em 1em 1em 2em;
  border-left: 3px solid var(--border-color)
}

.content-page p {
  margin: ($margin / 2) 0;
}

.wrapper {
  max-width: calc(#{$max-width} + 10vw);
  padding: 0 5vw;
  margin: 0 auto;

  &--no-padding {
    padding: 0;

    @media screen and (min-width: 375px) {
      padding: 0 $wrapper-padding;
    }
  }

  &--small {
    padding: 0;
    max-width: 650px;
    margin: 0 auto;
  }

  &--medium {
    padding: 0;
    max-width: 950px;
    margin: 0 auto;
  }
}

.logo {
  text-align: center;
  padding: $margin * 1.5 0 $margin * 0.75;

  @media screen and (min-width: $max-width) {
    padding: $margin * 3 0 $margin * 1.5;
  }

  h1 {
    font-weight: 300;
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: none;

    .theme-light & {
      color: var(--title-color);
    }

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &__sub-title {
    display: block;
    font-size: 12px;
    color: var(--text-color);
    letter-spacing: .9px;
    padding: 0 ($margin / 2);
    margin-top: $margin / 8;
    font-weight: 300;

    @media screen and (min-width: $max-width) {
      font-size: 16px;
    }
  }
}

.columns {
  display: flex;

  &--abilities {
    flex-wrap: wrap;
    justify-content: center;
  }

  &--direction-column {
    flex-direction: column;
  }

  .columns__column {
    width: 50%;

    &--half {
      width: 25%;
    }

    &--third {
      width: 33.333%;
    }
  }
}

$rarities: (
  basic: $white,
  rare: #56a8ff,
  epic: #f128f1,
  legendary: orange
);

@each $rarity, $value in $rarities {
  .bg-#{$rarity} {
    background: $value !important;
  }

  .color-#{$rarity} {
    color: $value !important;

    @if $rarity == 'basic' {
      .theme-light & {
        color: var(--text-color) !important;
      }
    }
  }

  .border-#{$rarity} {
    border: 1px solid $value !important;
  }
}

.text-right {
  @media (min-width: $max-width) {
    text-align: right;
  }
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-text-transform {
  text-transform: none;
  line-height: 1.5em;
}

.tiny-help {
  display: block;
  font-size: 10px;
  font-style: italic;
  text-transform: none;
  margin: ($margin / 8) 0;
}

hr {
  margin: $margin / 2 0;
  border: 0;
  height: 1px;
  background: var(--border-color);
}

.medium-only {
  display: none;

  @media (min-width: 640px) and (max-width: 1099px) {
    display: block;
  }
}

.top-offset {
  padding-top: $margin;

  @media (min-width: 640px) {
    padding-top: $margin * 2;
  }
}
