* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0 5vw $margin * 2;
  background: $bg-color image_url("bg-pattern.jpg");
  font-family: "Raleway", sans-serif;
  color: $text-color;
  text-transform: uppercase;
  font-weight: 300;
}

a {
  color: $text-color;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

nav {
  display: flex;
  background: darken($bg-color, 5%);
  max-width: $max-width;
  margin: 0 auto $margin;

  a {
    display: block;
    padding: 5px;
    text-decoration: none;

    &:hover,
    &:active {
      background: lighten($bg-color, 5%);
      color: white;
    }
  }
}

.logo {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin: $margin * 4 0;
}
