* {
  box-sizing: border-box;
}

body {
  margin: 0 0 $margin * 4;
  background: $bg-color image_url("bg-pattern.jpg");
  font-family: "Raleway", sans-serif;
  color: $text-color;
  text-transform: uppercase;
  font-weight: 300;
}

a {
  color: $text-color;
}

.wrapper {
  max-width: calc(#{$max-width} + #{$wrapper-padding * 2});
  padding: 0 $wrapper-padding;
  margin: 0 auto;

  &__no-padding {
    padding: 0;

    @media screen and (min-width: 375px) {
      padding: 0 $wrapper-padding;
    }
  }
}

.logo {
  font-weight: 300;
  text-align: center;
  padding: $margin * 1.5 0 $margin * 0.75;
  margin: 0;
  @include responsive-font-width(60px, $max-width);

  @media screen and (min-width: 992px) {
    padding: $margin * 3 0 $margin * 1.5;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.columns {
  display: flex;

  .columns__column {
    width: 50%;
  }
}
