.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 250ms;
  box-shadow: 0px 3px 7px rgba($black, .15), 0px 10px 50px rgba($black, .35);

  &--small {
    @include media-min(xl) {
      top: -$header-top-height;
    }
  }
}

.header__top {
  background: var(--secondary);
  display: none;

  @include media-min(xl) {
    display: block;
  }

  .wrapper {
    height: $header-top-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__bottom {
  background: var(--primary);

  .wrapper {
    height: $header-bottom-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__content {
  width: calc(50% - 50px);

  &--search {
    padding-left: 50px;
  }

  &--right {
    text-align: right;
  }

  &--social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      transition: color 250ms ease;

      &:hover {
        color: var(--white);
      }
    }

    svg {
      width: 20px;
      height: 23px;
    }
  }
}

.header__logo {
  width: 112px;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: var(--primary);
    border-radius: 100%;
    z-index: -1;
    transition: all 250ms ease;
    bottom: -28px;
    left: -2px;
    width: 115px;
    height: 115px;

    @include media-min(xl) {
      bottom: -15px;
      left: -7px;
      width: 125px;
      height: 125px;
    }

    .header--small & {
      @include media-min(xl) {
        bottom: -28px;
        left: -2px;
        width: 115px;
        height: 115px;
      }
    }
  }
}

.header__logo-top {
  font-size: 12px;
  font-weight: 300;
  color: lighten($text-color, 15%);

  a {
    font-size: 16px;
    color: lighten($text-color, 35%);
    text-decoration: none;

    &:hover,
    &:active {
      color: $white;
    }
  }
}

.player-form {
  width: 100%;
  position: relative;
  display: none;

  @include media-min(xl) {
    display: block;
  }

  input {
    width: 100%;
    background: darken($primary, 3%);
    border: 0;
    padding: ($margin / 4) ($margin * 3) ($margin / 4) ($margin / 2);
    border-radius: 1000px;
    color: var(--white);
    font-size: 14px;

    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      color: lighten($primary, 20%);
    }
  }
}

.player-platforms {
  position: absolute;
  top: $margin / 4;
  right: $margin / 2;
  display: flex;
}

.platform__icon {
  padding-left: $margin / 4;

  svg {
    width: auto;
    height: $margin / 2.5;
    transition: color 250ms ease;

    &.active {
      color: var(--white);
    }
  }

  &:hover {
    svg {
      color: var(--white);
    }
  }
}

.logo__image {
  img {
    width: $header-top-height;
    margin-bottom: -#{ $margin / 2 };
    transition-property: margin-bottom, width;
    transition-duration: 250ms;
    will-change: margin-bottom, width;

    @include media-min(xl) {
      width: 87px;
      margin-bottom: 0;
    }

    .header--small & {
      @include media-min(xl) {
        width: $header-top-height;
        margin-bottom: -#{ $margin / 2 };
      }
    }
  }
}
