.header {
  height: 51px;
  width: 100%;
  background: var(--primaryDark);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $max-width) {
    height: 88px;
  }
}

.header__logo {
  img {
    max-width: 70px;
    height: auto;

    @media screen and (min-width: $max-width) {
      max-width: 100%;
    }
  }
}
