.nav__menu {
  display: flex;

  a {
    font-size: 15px;
    color: rgba($white, 0.25);
    transition: color 250ms ease;

    &:hover {
      color: rgba($white, 1);
    }
  }

  > a,
  .dropdown > a {
    margin-right: 30px;
    text-decoration: none;
  }

  .dropdown {
    &:hover {
      > a {
        color: rgba($white, 1);
      }
    }
  }
}
