table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: .5em .5em;
  background: $primary;
  border: 0;
  text-align: left;
}

td {
  text-align: left;
  padding: .25em .5em;
  border: 0;
}

tr:nth-child(odd) {
  td {
    background: lighten($bg-color, 3%);
  }
}

tr:hover {
  td {
    background: $secondary;
  }
}
