h1,
h2,
h3,
h4,
h5 {
  color: $title-color;
  font-weight: 700;
}

h1 {
  @include responsive-font-width(48px, $max-width);
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 21px;
}

.heading {
  display: flex;
  align-items: flex-end;
  margin: $margin * 4 0 $margin;

  &--small {
    margin: 0;
  }
}

.heading__title {
  padding-right: $margin;
  margin: 0;
  line-height: .75em;
  white-space: nowrap;

  .heading--small & {
    padding-right: $margin / 2;
  }

  a {
    color: $title-color;
    text-decoration: none;
  }
}

.heading__line {
  height: 4px;
  width: 100%;
  background: $white;
  opacity: .2;

  .heading--small & {
    height: 2px;
  }
}
