h2,
h2,
h3,
h4,
h5 {
  color: $title-color;
  font-weight: 700;
}

h1 {
  @include responsive-font-width(60px, $max-width);
}

h2 {
  @include responsive-font-width(48px, $max-width);
}

h3 {
  font-size: 21px;
}

.heading {
  display: flex;
  align-items: flex-end;
  margin: $margin * 2 0 $margin;

  @media (min-width: 640px) {
    margin: $margin * 4 0 $margin;
  }

  &::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background: $white;
    opacity: .2;
  }

  &--small {
    margin: 0;

    &::after {
      height: 2px;
    }
  }
}

.heading__title {
  padding-right: $margin;
  margin: 0;
  line-height: .75em;
  white-space: nowrap;

  .heading--small & {
    padding-right: $margin / 2;
  }

  a {
    color: $title-color;
    text-decoration: none;
  }

  small {
    font-weight: 300;
    font-size: 1em;
    color: $text-color;
  }
}

.title-small {
  font-weight: 300;
  color: $text-color;
  margin-top: 0;
}
