h2,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
  font-weight: 300;
}

h1 {
  @include responsive-font-width(60px, $max-width, 40px);
}

h2 {
  @include responsive-font-width(48px, $max-width, 24px);
}

h3 {
  @include responsive-font-width(30px, $max-width, 21px);
}

h4 {
  @include responsive-font-width(30px, $max-width, 21px);
}

h5 {
  font-size: 18px;
  margin: $margin 0 $margin / 4;
}

.heading {
  display: flex;
  align-items: flex-end;
  margin: $margin 0;

  @media (min-width: 1100px) {
    margin: $margin * 2 0;
  }
  
  &::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    max-width: $max-width / 3 * 2;
    margin-left: auto;
    background: var(--border-color);
  }

  &--small {
    margin: 0;

    &::after {
      height: 2px;
    }
  }

  &--half-margin {
    margin: ($margin * 2) 0 $margin;
  }
}

.heading__title {
  padding-right: $margin / 2;
  margin: 0;
  line-height: .75em;
  white-space: nowrap;

  @media (min-width: 640px) {
    padding-right: $margin;
  }

  .heading--small & {
    padding-right: $margin / 2;
  }

  a {
    color: var(--title-color);
    text-decoration: none;
  }

  small {
    font-weight: 300;
    font-size: 1em;
    color: var(--text-color);
  }
}

.title-small {
  font-weight: 300;
  color: var(--text-color);
  margin-top: 0;
}

h3.heading__title {
  font-size: 16px;

  @media screen and (min-width: 900px) {
    font-size: 21px;
  }
}
