<div class="notifications">
  <%= link_to show_notifications_path, remote: true, class: "notifications__trigger header__action", data: { action: "toggle-notifications" } do %>
    <%= tag.div class: "notifications__bubble" if current_user.notifications.where.not(has_been_read: 1).any? %>
    Notifications
  <% end %>

  <div class="notifications__content">
    <h4 class="notifications__title">Notifications</h4>

    <div data-role="notifications"></div>
  </div>
</div>
