<%= link_to page_path("events"), class: "banner banner--event banner--gunslinger" do %>
  <h3>Join our first event</h3>
  <h2>Gunslinger</h2>
  <%= image_tag "banners/gunslinger/weapon.png", class: "banner__image", alt: "octane" %>
<% end %>
