<%= link_to legend_show_path("octane"), class: "banner" do %>
  <h3>Check out the Latest legend</h3>
  <h2>Octane</h2>
  <%= image_tag "layout/banner_octane.png", class: "banner__image", alt: "octane" %>
<% end %>
