<%= link_to page_path("patch-notes/7-2-2019"), class: "banner banner--season-2" do %>
  <h3>Patch Notes</h3>
  <h2>Season 2</h2>
  <%= image_tag "banners/season_2/wattson_lstar.png", class: "banner__image", alt: "Season 2" %>
<% end %>
