<%= link_to page_path("patch-notes/10-1-2019"), class: "banner banner--season-3" do %>
  <h2>Season 3</h2>
  <%= image_tag "banners/season_3/crypto.png", class: "banner__image", alt: "Season 3" %>
<% end %>
