<div class="banner banner--search">
  <div class="banner--search__content">
    <div class="heading banner--search__title">
      <h2 class="heading__title">Player tracker</h2>
    </div>

    <%= render "tracker", extra_classes: "player-form--large player-form--home" %>
  </div>
</div>
