<div class="banner banner--search">
  <div class="banner__search">
    <h2 class="heading__title">Player tracker</h2>
    <%= render "tracker", extra_classes: "player-form--large player-form--home" %>
  </div>
</div>
