<div class="item item--full-width">
  <div class="heading heading--small">
    <h4 class="heading__title">Badges</h4>
  </div>

  <p>
    These are the badges you have earned on ApexData.gg.
  </p>

  <div class="user-badges">
    <% current_user.claimed_profiles.each do |claimed_profile| %>
      <h5 class="mb-0"><%= claimed_profile.username %></h5>

      <% if DistributedBadge.where(profile_uid: claimed_profile.profile_uid).any? %>
        <% DistributedBadge.where(profile_uid: claimed_profile.profile_uid).each do |distributed_badge| %>
          <div class="user-badges__item">
            <%= image_tag distributed_badge.badge.image, height: 60 if asset_exists?(distributed_badge.badge.image) %>

            <div class="user-badges__content">
              <div class="user-badges__title"><%= distributed_badge.badge.title %></div>
              <%= distributed_badge.badge.description %>
            </div>
          </div>
        <% end %>
      <% else %>
        <small><em>This profile has not yet earned any badges</em></small>
      <% end %>
    <% end %>
  </div>
</div>
