<div class="item item--full-width">
  <div class="heading heading--small">
    <h4 class="heading__title">Claimed profiles</h4>
  </div>

  <% if @claimed_profiles.any? %>
    <% @claimed_profiles.each do |profile| %>
      <div class="user__claimed-profile-item">
        <div>
          <strong class="claimed-profile-link"><%= link_to profile.username, profile_path(profile.platform, profile.username) %></strong>
          <small><%= profile.platform %></small>
        </div>

        <%= link_to "Remove claim", profile, method: :delete, data: { confirm: "Are you sure you wish to remove your claim? This cannot be undone. You can re-claim your profile if you wish." } %>
      </div>
    <% end %>
  <% else %>
    <br>
    You have not yet claimed any profiles.
  <% end %>
</div>
