<div class="item item--full-width">
  <div class="heading heading--small">
    <h4 class="heading__title">Membership</h4>
  </div>

  <div>
    <% if membership.present? %>
      <br>
      You have an active Membership.<br>
      <small>This will end on <strong><%= (membership.created_at.localtime + 1.month).strftime("%F at %T") %></strong>.</small>
    <% else %>
      <p>You do not currently have a membership.</p>

      <%= link_to "Get a membership", new_membership_path, class: "button" %>
    <% end %>
  </div>
</div>
