<h2>Users <small><%= @users.count %></small></h2>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><strong><%= user.username %></strong></td>
      <td><%= user.created_at.localtime %></td>
    </tr>
  <% end %>
</table>
