<div class="wrapper wrapper--tiny">
  <div class="item item--full-width">
    <h2 class="form-title">Create an account</h2>

    <%= render "form", user: @user %>
  </div>

  <center><small>Already have an account? <%= link_to "Log in", login_path %></small></center>
</div>
