<div class="heading">
  <h2 class="heading__title"><%= params[:value].humanize %> <small>(<%= @items.count %>)</small></h2>
  <div class="heading__line"></div>
</div>

<% if @items.any? %>
  <%= render partial: "item", collection: @items, as: :item || "Nothing found" %>
<% else %>
  Nothing found, sorry.
<% end %>
