.top-offset {
  padding-top: $margin;

  @include media-min(sm) {
    padding-top: $margin * 2;
  }
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-80 {
  margin-top: $margin * 2 !important;
}

.mb-5 {
  margin-bottom: $margin / 8 !important;
}

.mb-20 {
  margin-bottom: $margin / 4 !important;
}

.mb-40 {
  margin-bottom: $margin / 2 !important;
}

.my-40 {
  margin-top: $margin !important;
  margin-bottom: $margin !important;
}

.p-0 {
  padding: 0 !important;
}

.p-25 {
  padding: .25em !important;
}

.pin-l {
  left: 0;
}

.pin-b {
  bottom: 0;
}
