<article class="item p-0">
  <div class="item__event-banner">
    <%= image_tag "events/banners/gunslinger_01.jpg" %>
  </div>
  <div class="item__event-content">
    <h3 class="item__title"><%= event.title %></h3>

    <div class="item__event-description">
      <%= event.description.html_safe %>
    </div>

    <div class="item__tray">
      <%= link_to "Show Event", event_slug_path(to_slug(event.title)), class: "button" %>
    </div>
  </div>
</article>
