<div class="leaderboard__item">
  <div class="leaderboard__left">
    <div class="leaderboard__badge">
      <span class="leaderboard__position"><%= item_counter %></span>
      <%= inline_svg("badges/levels/top21_50_event.svg") %>
    </div>
    <span class="leaderboard__name">vissTSM</span>
  </div>
  <div class="leaderboard__right">
    <div class="leaderboard__score">
      <span class="leaderboard__score-name">Pistol Kills</span>
      <span class="leaderboard__score-total">465</span>
    </div>
    <a class="leaderboard__action" href="">See profile</a>
  </div>
</div>
