<p id="notice"><%= notice %></p>

<div class="wrapper">
  <div class="heading">
    <h2 class="heading__title">Events</h2>
  </div>

  <div class="items">
    <%= render @events %>
  </div>
</div>

<%= link_to "New Event", new_event_path %>
