<div class="event-background">
  <div class="event-background__gradient-left"></div>
  <div class="event-background__gradient-top"></div>
  <div class="event-background__image">
    <%= image_tag("layout/event_bg.jpg") %>
  </div>
</div>

<div class="event-top">
  <div class="event__flags">
    <div class="event-top__flag event-top__flag--second" style="background-image:url(https://www.apexdata.gg/assets/legends/caustic/banner-1d466ca37a94e0a07c87444a0df81ec0a117c943d2b2d773ab96c78892176f9f.webp);">
      <span class="flag__name">Mitsiee</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">2</span>
          <%= inline_svg("badges/levels/top10_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
    <div class="event-top__flag event-top__flag--first" style="background-image:url(https://www.apexdata.gg/assets/legends/pathfinder/banner-9de39418433e445cc4c10b1d5763ca5817e3883225d4ef58d672bba934541b46.webp);">
      <span class="flag__name">GuardianXT705</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">1</span>
          <%= inline_svg("badges/levels/top10_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
    <div class="event-top__flag event-top__flag--third" style="background-image:url(https://www.apexdata.gg/assets/legends/gibraltar/banner-7955e778dd3cef6979c4cef5a9f05867d55974ab13e29f709da6b08a894ab53b.webp);">
      <span class="flag__name">Doldoc</span>
      <div class="flag__score">
        <div class="flag__badge">
          <span class="event__position">3</span>
          <%= inline_svg("badges/levels/top10_event.svg") %>
        </div>
        <div class="flag__eventscore">
          <span class="eventscore__name">Pistol Kills</span>
          <span class="eventscore__score">687</span>
        </div>
      </div>
    </div>
  </div>
</div>
