<div class="event-background">
  <div class="event-background__gradient-left"></div>
  <div class="event-background__gradient-top"></div>
  <div class="event-background__image">
    <%= image_tag("layout/event_bg.jpg") %>
  </div>
</div>

<% if DateTime.now.localtime < @event.start_datetime.localtime %>
  <%= render "pre_event" %>
<% else %>
  <%= render "event_started" %>
<% end %>
