<div class="item">
  <div class="item__description">
    <h3 class="item_title">
      Hemlok
    </h3>

    Stats
  </div>

  <%= image_tag "https://placehold.it/600x200/333545/a3a6ba", class: "item__image" %>
</div>
