<% content_for :page_title, "Assault Rifles" %>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Assault Rifles", page_path("assault-rifles") %></h2>
</div>

<%= render "sort/filter", active: "assault-rifles" %>

<div class="items">
  <%= render partial: "pages/item_types/weapon", collection: assault_rifles, as: :item %>
</div>
