<div class="heading">
  <h2 class="heading__title"><%= link_to "Assault Rifles", page_path("assault-rifles") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: assault_rifles, as: :item %>
</div>
