<% content_for :page_title, "Consumables" %>

<%= render "ad_header" %>

<div class="wrapper wrapper--medium">
  <div class="heading">
    <h2 class="heading__title"><%= link_to "Consumables", page_path("consumables") %></h2>
  </div>

  <div class="items">
    <%= render partial: "pages/item_types/consumable", collection: consumables, as: :item %>
  </div>
</div>
