<% content_for :page_title, "Event Rules" %>

<div class="wrapper wrapper--tiny top-offset">
  <div class="item item--full-width" data-role="paypal-wrapper">
    <div class="heading heading--small">
      <h4 class="heading__title">Event Rules & FAQ</h4>
    </div>

    <div class="no-text-transform">
      <h5>Joining an Event</h5>
      <p>To join an event you need to <%= link_to "create an account", register_path %> or <%= link_to "log in" %>. From here you need to "Claim" the profile you wish to join the event with. You can claim multiple profiles and join with all of them seperately.</p>

      <h5>Claiming a profile</h5>
    </div>
  </div>
</div>
