<% content_for :page_title, "Grenades" %>

<%= render "ad_header" %>

<div class="wrapper wrapper--medium">
  <div class="heading">
    <h2 class="heading__title"><%= link_to "Grenades", page_path("grenades") %></h2>
  </div>

  <div class="items">
    <%= render partial: "pages/item_types/grenade", collection: grenades, as: :item %>
  </div>
</div>
