<div class="heading">
  <h2 class="heading__title"><%= link_to "Light Machine Guns", page_path("light-machine-guns") %></h2>
</div>

<%= render partial: "item", collection: light_machine_guns, as: :item %>
