<% content_for :page_title, "Light Machine Guns" %>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Light Machine Guns", page_path("light-machine-guns") %></h2>
</div>

<div class="items">
  <%= render partial: "item", collection: light_machine_guns, as: :item %>
</div>
