<div class="heading">
  <h2 class="heading__title">Pistols</h2>
</div>

<div class="item-columns">
  <aside class="item-columns__sidebar">
    <%= render "sort/filter", active: "pistols" %>
  </aside>

  <%= render "pages/item_columns/weapons", block_id: "pistols", items: pistols, is_active: true %>
</div>
