<% content_for :page_title, "Pistols" %>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Pistols", page_path("pistols") %></h2>
</div>

<%= render "sort/filter", active: "pistols" %>

<div class="items">
  <%= render partial: "pages/item_types/weapon", collection: pistols, as: :item, cached: true%>
</div>
