<% content_for :page_title, "Shotguns" %>

<div class="heading">
  <h2 class="heading__title"><%= link_to "Shotguns", page_path("shotguns") %></h2>
</div>

<%= render "sort/filter", active: "shotguns" %>

<div class="items">
  <%= render partial: "pages/item_types/weapon", collection: shotguns, as: :item %>
</div>
