<div class="heading">
  <h1 class="heading__title"><%= link_to "Shotguns", page_path("shotguns") %></h1>
  <div class="heading__line"></div>
</div>

<%= render partial: "item", collection: shotguns, as: :item %>
