<div class="heading">
  <h2 class="heading__title">Sniper Rifles</h2>
</div>

<div class="item-columns" data-item-columns-main>
  <%= render "pages/item_columns/mobile_navigation" %>

  <main class="item-columns__main">
    <aside class="item-columns__sidebar">
      <%= render "sort/filter", active: "sniper-rifles" %>
    </aside>

    <%= render "pages/item_columns/weapons", block_id: "sniper-rifles", items: sniper_rifles, is_active: true %>
  </main>
</div>
