<div class="heading">
  <h2 class="heading__title"><%= link_to "Sniper Rifles", page_path("sniper-rifles") %></h2>
  <div class="heading__line"></div>
</div>

<%= render partial: "item", collection: sniper_rifles, as: :item %>
