<div class="heading">
  <h2 class="heading__title"><%= link_to "Sub Machine Guns", page_path("sub-machine-guns") %></h2>
  <div class="heading__line"></div>
</div>

<%= render partial: "item", collection: sub_machine_guns, as: :item %>
