<div class="heading">
  <h2 class="heading__title">Compare</h2>
</div>

<%= render partial: "item", collection: @first_compare, as: :item %>

<h3>
  <center>VS</center>
</h3>

<%= render partial: "item", collection: @second_compare, as: :item %>
