<div class="bar-graph" data-role="bar-graph" data-target="<%= target %>">
  <div class="bar-graph__label"><%= label %></div>

  <div class="bar-graph__bar" data-role="bar-graph-bar" data-max="<%= max %>">
    <div class="bar-graph__line" data-role="bar-graph-line"></div>
    <div class="bar-graph__compare" data-role="bar-graph-compare"></div>
  </div>

  <div class="bar-graph__value" data-role="bar-graph-value"></div>
</div>
