<div class="circle-graph" data-role="circle-graph" data-target="<%= target %>">
  <div class="circle-graph__label">
    <%= label %>
    <h4 data-role="circle-graph-value"></h4>
  </div>

  <div class="circle-graph__graph">
    <div class="circle-graph__bar" data-max="<%= max %>" data-role="circle-graph-bar"></div>
  </div>
</div>
