<div class="item-columns__data">
  <%= label %>
  <div class="item-columns__data-value" data-role="static-value" data-target="<%= target %>" data-compare-static="<%= target %>"></div>
  <div class="item-columns__data-identifier"><%= identifier if defined?(identifier) %></div>
</div>
