* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0 5vw;
  font-family: sans-serif;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

nav {
  display: flex;
  background: #f1f1f1;
  max-width: 900px;
  margin: 0 auto;

  a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    &:hover,
    &:active {
      background: #e9e9e9;
    }
  }
}
