* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0 5vw;
  font-family: sans-serif;
  background: $bg-color;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5 {
  color: $title-color;
}

a {
  color: $text-color;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

nav {
  display: flex;
  background: darken($bg-color, 5%);
  max-width: 900px;
  margin: 0 auto;

  a {
    display: block;
    padding: 10px;
    text-decoration: none;

    &:hover,
    &:active {
      background: lighten($bg-color, 5%);
      color: white;
    }
  }
}
