$white: #FFF;
$black: #000;
$red: #b33834;
$green: #357b35;
$purple: #a12aac;
$orange: #ef9206;
$gold: #ffc000;
$silver: #d0d0d0;
$bronze: #c47800;
$primary-dark: #1d1f27;
$discord: #7289DA;

$primary: #313443;
$secondary: #363848;
$bg-color: #21212a;
$border-color: lighten($bg-color, 15%);
$text-color: #8f94a5;
$title-color: #FFF;

$border-width: 2px;

$margin: 40px;

$wrapper-padding: $margin / 2;
$max-width: 1200px + $margin;

$item-image-width: 600px;
$item-transition-duration: 100ms;

$columns-item-height: 120px;

$circle-graph-thickness: 15px;

$bar-graph-height: 6px;

$box-shadow: 0px 3px 7px rgba($black, .1), 0px 3px 27px rgba($black, .1);

$header-top-height: 47px;
$header-bottom-height: 63px;

$media-min-widths: (
  xs: 400px,
  sm: 640px,
  md: 768px,
  lg: 900px,
  xl: 990px,
  xxl: 1100px,
  event: 1140px,
  max-width: $max-width
)
