$white: #FFF;
$black: #000;
$red: #b52626;
$green: #357b35;
$primary-dark: #1d1f27;

$bg-color: #282A36;
$border-color: lighten($bg-color, 10%);
$text-color: #6d7284;
$title-color: #FFF;

$border-width: 2px;

$margin: 40px;

$wrapper-padding: $margin / 2;
$max-width: 1200px + $margin;

$item-image-width: 600px;
$item-transition-duration: 100ms;

$circle-graph-thickness: 15px;

$box-shadow: 0px 3px 7px rgba($black, .1), 0px 3px 27px rgba($black, .1);
