<div class="legends-banner">
  <% legends_list.each do |legend| %>
    <%= link_to legend_show_path(legend.downcase), class: "legends-banner__item" do %>
      <% if asset_exists?("legends/#{ legend.downcase }/banner.jpg")  %>
        <%= image_tag "legends/#{ legend.downcase }/banner.jpg", class: "legends-banner__image", alt: legend %>
      <% end %>

      <div class="legends-banner__content">
        <%= legend %>

        <div class="legends-banner__button">
          +
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "View all legends", legends_path, class: "button" %>
