<% content_for :page_title, "Legends" %>

<div class="heading">
  <h2 class="heading__title">Legends</h2>
</div>

<div class="items">
  <%= render partial: "legends/legend", collection: legends, as: :item %>
</div>
