<% content_for :page_title, "Legends" %>

<%= render "ad_header" %>

<div class="wrapper wrapper--medium">
  <div class="heading">
    <h2 class="heading__title">Legends</h2>
  </div>

  <div class="items">
    <%= render partial: "legends/legend", collection: legends, as: :item %>
  </div>
</div>
