<div class="heading">
  <h3 class="heading__title"><%= params[:items].underscore.humanize %> <small>sorted by</small> <%= params[:sort_by].underscore.humanize %></h3>
</div>

<%= render "filter", active: params[:items] %>

<div class="items">
  <% if @items.any? %>
    <%= render partial: "item", collection: @items, as: :item || "Nothing found" %>
  <% else %>
    Nothing found, sorry.
  <% end %>
</div>
