<div class="heading">
  <h3 class="heading__title"><%= params[:items].underscore.humanize %> <small>sorted by</small> <%= params[:sort_by].underscore.humanize %></h3>
</div>

<div class="item-columns">
  <aside class="item-columns__sidebar">
    <%= render "sort/filter", active: params[:items] %>
  </aside>

  <% if @items.any? %>
    <%= render "pages/item_columns/weapons", block_id: "sorted", items: @items, is_active: true %>
  <% else %>
    Nothing found
  <% end %>
</div>
