<div class="ad-container">
  <style>
    .responsive-ad { width: 320px; height: 100px; }
    @media (min-width: 800px) { .responsive-ad { width: 728px; height: 90px; } }
  </style>
  <ins class="adsbygoogle responsive-ad"
       style="display:block"
       data-ad-client="ca-pub-6800703662222824"
       data-ad-slot="1058158272"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <span class="ad-container__title">Advertisement</span>
  <div class="ad-container__background"></div>
</div>
