<div class="ad-container">
  <style>
    .mobile-ad { display: inline-block }
    .desktop-ad { display: none }
    @media (min-width: 800px) { .mobile-ad { display: none } }
    @media (min-width: 800px) { .desktop-ad { display: inline-block } }
  </style>
  <ins class="adsbygoogle desktop-ad"
    style="width:728px;height:90px"
    data-ad-client="ca-pub-6800703662222824"
    data-ad-slot="4860907572"></ins>
  <ins class="adsbygoogle mobile-ad"
    style="width:320px;height:100px"
    data-ad-client="ca-pub-6800703662222824"
    data-ad-slot="1005423044"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <span class="ad-container__title">Advertisement</span>
  <div class="ad-container__background"></div>
</div>
