<div class="ad-container">
  <script type="text/javascript">
  	atOptions = {
  		'key' : 'aa067c8efc45475e1732f92877ca3a53',
  		'format' : 'iframe',
  		'height' : 90,
  		'width' : 728,
  		'params' : {}
  	};
  	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/aa067c8efc45475e1732f92877ca3a53/invoke.js"></scr' + 'ipt>');
  </script>

  <span class="ad-container__title">Advertisement</span>
  <div class="ad-container__background"></div>
</div>
