<div class="ad-container">
  <div class="ad-container__desktop">
    <script type="text/javascript">
      atOptions = {
        'key' : 'aa067c8efc45475e1732f92877ca3a53',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/aa067c8efc45475e1732f92877ca3a53/invoke.js"></scr' + 'ipt>');
    </script>
  </div>

  <div class="ad-container__mobile">
    <script type="text/javascript">
    	atOptions = {
    		'key' : 'a53272e76c057c8c6a0a530334d1d68e',
    		'format' : 'iframe',
    		'height' : 250,
    		'width' : 300,
    		'params' : {}
    	};
    	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/a53272e76c057c8c6a0a530334d1d68e/invoke.js"></scr' + 'ipt>');
    </script>
  </div>

  <span class="ad-container__title">Advertisement</span>
  <div class="ad-container__background"></div>
</div>
