<footer class="footer">
  <p>
    Copyright &copy; 2019 | All images and icons belong to their respective owner.
    <br>
    Data sourced from <%= link_to "TheThrillGame", "https://twitter.com/TheThrillGame/status/1094234867754250240?s=19", target: "_blank" %> and <%= link_to "RankedBoost", "https://rankedboost.com/", target: "_blank" %>.
  </p>

  <p>
    Contribute on <%= link_to "GitHub", "https://github.com/Mitcheljager/apexdata", target: "_blank" %>
  </p>
</footer>
