<footer class="footer">
  <p>
    Copyright &copy; 2019 | All images and icons blong to their respective owner.
  </p>

  <p>
    Contribute on <%= link_to "GitHub", "https://github.com/Mitcheljager/apexdata", target: "_blank" %>
</footer>
