<footer class="footer">
  <p>
    Copyright &copy; 2019 | All images and icons belong to their respective owner.
    <br>
    Data sourced from <%= link_to "TheThrillGame", "https://twitter.com/TheThrillGame/status/1094234867754250240?s=19", target: "_blank" %> and <%= link_to "RankedBoost", "https://rankedboost.com/", target: "_blank" %>.
  </p>

  <p class="text-right">
    Contribute on <%= link_to "GitHub", "https://github.com/Mitcheljager/apexdata", target: "_blank" %><br>
    Support us: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PM4JTHFFVNHRW&source=url" target="_blank">Donate</a>
  </p>
</footer>
