<footer class="footer">
  <p>
    Copyright &copy; 2019 | All images and icons belong to their respective owner.
  </p>

  <p class="text-right">
    <%= link_to "Privacy Policy", page_path("privacy-policy") %> |
    Contribute on <%= link_to "GitHub", "https://github.com/Mitcheljager/apexdata", target: "_blank" %>
  </p>
</footer>
