<header class="header">
  <div class="header__top">
    <div class="wrapper">
      <h1 class="header__logo-top">
        <%= link_to raw("ApexData.<strong>gg</strong>"), root_path %>
        &nbsp;|&nbsp; Apex Legends Data and Stats
      </h1>
    </div>
  </div>

  <div class="header__bottom">
    <div class="wrapper">
      <div class="header__content">
        <div class="navigation-open">
          <%= inline_svg("layout/menu.svg") %>
        </div>
        <%= render "navigation" %>
      </div>

      <div class="header__logo">
        <%= link_to image_tag("layout/apexlogo.png", alt: "Apex Legends logo"), root_path, class: "logo__image" %>
      </div>
    </div>
  </div>
</header>
