<div class="social wrapper">
  <h3 class="social__title">Follow us to receive updates</h3>

  <div class="social__items">
    <a class="button button--smaller" href="https://www.facebook.com/ApexData-1430225080436016/" target="_blank">Facebook</a>
    <a class="button button--smaller" href="https://twitter.com/apexdatagg" target="_blank">Twitter</a>
    <a class="button button--smaller" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PM4JTHFFVNHRW&source=url" target="_blank">Donate</a>
  </div>
</div>
