<div class="social wrapper">
  <h3 class="social__title">Follow us to receive updates</h3>

  <div class="social__items">
    <%= link_to inline_svg("icons/icon-twitter.svg"), "https://twitter.com/apexdatagg", target: "_blank" %>
    <%= link_to inline_svg("icons/icon-facebook.svg"), "https://www.facebook.com/ApexData-1430225080436016/", target: "_blank" %>
    <%= link_to inline_svg("icons/icon-discord.svg"), "https://discord.gg/4Xa3PKq", target: "_blank", style: "margin-top:2px;" %>
  </div>
</div>
